<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Meeting information</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-7">
        <div class="form-group">
          <%= f.label :title %><br>
          <%= f.text_field :title, style: 'width:90%;' %>
        </div>
        <div class="form-group">
          <%= f.label :description %><br>
          <%= f.text_area :description, style: 'width:90%;',
                          rows: 4 %>
        </div>
        <div class="form-group">
          <%= f.label :url %><br>
          <%= f.text_field :url, style: 'width:90%;' %>
        </div>
        <div class="form-group">
          <%= f.label :country %><br />
          <%= f.country_select :country, class: "form-control" %>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="form-group">
          <%= f.label :start_date %><br>
          <%= f.date_select :start_date, start_year: 1990  %>
        </div>
        <div class="form-group">
          <%= f.label :end_date %><br>
          <%= f.date_select :end_date, start_year: 1990 %>
        </div>
        <div class="form-group">
          <%= f.label :featured_image %><br>
          <%= f.file_field :featured_image %>
        </div>
        <div class="form-group">
          <%= f.label :featured_image_credits %><br>
          <%= f.text_field :featured_image_credits %>
        </div>
        <div class="form-group">
          <%= f.label :venue %><br>
          <%= f.text_field :venue %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      Meeting organisers
    </h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-7">
        <div class="form-group">
          <%= f.label "Institutions involved in organisation:" %><br>
          <div class="scrollbox">
            <% for organisation in Organisation.all.order("name ASC") %>
              <%= check_box_tag "meeting[organisation_ids][]", 
                                organisation.id, 
                                @meeting.organisations.include?(organisation) %>
              <%= organisation.name %><br>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="form-group">
          <%= f.label "Session chairs / organising members:" %><br>
          <div class="scrollbox">
            <% for user in User.all.order("last_name ASC, first_name ASC") %>
              <%= check_box_tag "meeting[user_ids][]", user.id, 
                                @meeting.users.include?(user) %>
              <%= user.first_name %> <em><%= user.last_name %></em><br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      Presentations
    </h4>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <% Presentation.all.each do |presentation| %>
        <div class="field">
          <%= check_box_tag "meeting[presentation_ids][]", 
                            presentation.id, 
                            @meeting.presentations.include?(presentation) %>
          <%= presentation.authors %>
          <%= presentation.title %>
        </div>
      <% end %>
    </div>
  </div>
</div>