<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @meeting.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @meeting.year %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @meeting.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @meeting.end_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @meeting.location_id %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
