<% title("Edit Profile") %>
<%= render partial: 'shared/breadcrumbs', locals: { breadcrumbs: [["People", members_pages_path], [current_user.full_name_normal, member_pages_path(current_user.id)], ["Edit Profile", nil]] } %>

<%= form_for(resource, as: resource_name,
             url: registration_path(resource_name),
             html: { method: :put, role: "form" }) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>
  <%= render partial: 'form', locals: {f: f} %>
  <div class="d-flex gap-2 mb-4">
    <%= f.submit "Save Profile", class: "btn btn-primary" %>
    <%= link_to "Cancel", member_pages_path(current_user.id), class: "btn btn-outline-secondary" %>
  </div>

<% end %>
