<tr>
  <%# Publication thumbnail %>
  <td width="100px">
    <% if publication.pdf.attached? %>
      <% if params[:search] %>
        <%= image_tag publication.pdf.preview(resize: "100x140>"), :width => "100" %>
      <% else %>
        <%= image_tag publication.pdf.preview(resize: "100x140>") %>
      <% end %>
    <% else %>
      <i class="bi bi-file-earmark text-muted" style="font-size: 2rem;"></i>
    <% end %>
  </td>

  <%# Formatted publication %>
  <td>
    <%= format_publication_citation(publication).html_safe %><br>
  </td>

  <%# Publication links %>
  <td width="60px" align="center">
    <% if user_signed_in? && publication.pdf.attached? %>
      <%= link_to url_for(publication.pdf), class: "text-danger" do %><i class="bi bi-file-earmark-pdf" style="font-size: 1.2rem;"></i><% end %>
    <% end %>
    <% if not publication.DOI.blank? %>
      <% if publication.open_access? %>
        <%= link_to publication.doi_url do %><%= image_tag "open_access.svg", style: "height: 1.2rem;", alt: "Open Access" %><% end %>
      <% else %>
        <%= link_to publication.doi_url do %>
          <i class="bi bi-link-45deg" aria-hidden="true"></i>
        <% end %>
      <% end %>
      <br>
    <% end %>
  </td>
</tr>

<%# Extra information for search results %>
<% if params[:search].present? && Publication.should_show_relevance(params[:search_params][:search_fields]) %>
  <tr valign='top' class='relevance'>
    <td>
      <span><%= publication.relevance %> <span>occurrence(s)</span></span>
    </td>
    <td>
      <blockquote>
        <%= obtain_snippet((publication.relevance_content params[:search_params][:search_fields]), params[:search]) %>
      </blockquote>
    </td>
  </tr>
<% end %>
