<tr>
  <%# Publication thumbnail %>
  <td width="100px">
    <% if publication.pdf.attached? %>
      <% if params[:search] %>
        <%= image_tag publication.pdf.preview(resize: "100x140>"), :width => "100" %>
      <% else %>
        <%= image_tag publication.pdf.preview(resize: "100x140>") %>
      <% end %>
    <% else %>
      <%= image_tag "no_pdf.png" %>
    <% end %>
  </td>

  <%# Formatted publication %>
  <td>
    <%= format_publication_citation(publication).html_safe %><br>
  </td>

  <%# Publication links %>
  <td width="60px" align="center">
    <% if user_signed_in? && publication.pdf.attached? %>
      <% link_to image_tag('adobe_pdf.png'), url_for(publication.pdf) %>
    <% end %>
    <% if not publication.DOI.blank? %>
      <% if publication.open_access? %>
        <%= link_to image_tag('open_access.png'), publication.doi_url %>
      <% else %>
        <%= link_to publication.doi_url do %>
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        <% end %>
      <% end %>
      <br>
    <% end %>
  </td>
</tr>

<%# Extra information for search results %>
<% if params[:search].present? && Publication.should_show_relevance(params[:search_params][:search_fields]) %>
  <tr valign='top' class='relevance'>
    <td>
      <span><%= publication.relevance %> <span>occurrence(s)</span></span>
    </td>
    <td>
      <blockquote>
        <%= obtain_snippet((publication.relevance_content params[:search_params][:search_fields]), params[:search]) %>
      </blockquote>
    </td>
  </tr>
<% end %>
