<tr>
  <%# Publication thumbnail %>
  <td width="100px">
    <% if params[:search] %>
      <%= image_tag publication.pdf.url(:thumb), :width => "100" %>
    <% else %>
      <%= image_tag publication.pdf.url(:thumb) %>
    <% end %>
  </td>

  <%# Formatted publication %>
  <td>
    <%= format_publication_citation(publication).html_safe %><br>
  </td>

  <%# Publication links %>
  <td width="60px" align="center">
    <% if user_signed_in? && publication.pdf.file? %>
      <% link_to image_tag('adobe_pdf.png'), publication.pdf.url(:original) %>
    <% end %>
    <% if not publication.DOI.blank? %>
      <% if publication.open_access? %>
        <%= link_to image_tag('open_access.png'), publication.doi_url %>
      <% else %>
        <%= link_to publication.doi_url do %>
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        <% end %>
      <% end %>
      <br>
    <% end %>
  </td>
</tr>

<%# Extra information for search results %>
<% if params[:search].present? %>
  <tr valign='top' class='relevance'>
    <td>
      <span><%= publication.relevance %> <span>occurrence(s)</span></span>
    </td>
    <td>
      <blockquote>
        <%= obtain_snippet(publication.contents, params[:search]) %>
      </blockquote>
    </td>
  </tr>
<% end %>
