<%= form_tag(publications_path, :method => "get", id: "search-form") do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      Search full publication text
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
            <%= text_field_tag :search, params[:search],  class: "form-control",
                               placeholder: "Search Publications" %>
        </div>
        <% if current_user.try(:editor_or_admin?) %>
         <div class="col-sm-2">
            <div class="form-group">
              <%= select_tag :validation_type,
                  options_for_select(
                    Validation::VALIDATION_TYPES
                      .map { |a| a.gsub("_", " ") }
                      .zip(Validation::VALIDATION_TYPES),
                    params[:validation_type]
                  ),
                  class: "form-control" %>
            </div>
          </div>
        <% end %>
        <div class="col-sm-2">
          <%= submit_tag "Search", class: "btn btn-basic" %>
        </div>
        <div class="col-sm-2">
          <a data-toggle="collapse" href="#collapse1">Advanced...</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 search horizontal">
          <%= search_param "Search in", Publication::PUBLICATION_SEARCH_FIELDS, :search_fields, params %>
        </div>
      </div>
    </div>
    <div id="collapse1" class="<%= (Publication.should_show_advanced params[:search_params]) ? "panel-collapse search" : "panel-collapse collapse search"%>">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <% 
              year_range = params.dig(:search_params, :year_range) || "#{Publication.min_year},#{Publication.max_year}"
            %>
            <%= dual_range_slider('search_params[year_range]', {
              min: Publication.min_year,
              max: Publication.max_year,
              step: 1,
              value: year_range,
              id: 'year_slider'
            }) %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <% 
              depth_range = params.dig(:search_params, :depth_range) || "0,500"
            %>
            <%= dual_range_slider('search_params[depth_range]', {
              min: 0,
              max: 500,
              step: 5,
              value: depth_range,
              id: 'depth_slider',
              suffix: 'm',
              max_label: '500m+'
            }) %>
          </div>
        </div>
        <div class="row">
          <hr>
          <div class="col-sm-3">
            <%= search_param "Types", Publication::PUBLICATION_TYPES, :types, params %>
          </div>
          <div class="col-sm-3">
            <%= search_param "Formats", Publication::PUBLICATION_FORMATS, :formats, params %>
          </div>
          <div class="col-sm-3">
            <%= search_param "Characteristics", Publication::PUBLICATION_CHARACTERISTICS, :characteristics, params %>
          </div>
        </div>
        <div class="row">
          <hr>
          <div class="col-sm-6">
            <%= search_param "Locations", Publication::PUBLICATION_LOCATIONS, :locations, params, true %>
          </div>
          <div class="col-sm-6">
            <%= search_param "Focus Groups", Publication::PUBLICATION_FOCUSGROUPS, :focusgroups, params, true %>
          </div>
        </div>
        <div class="row"><br></div>
        <div class="row">
          <div class="col-sm-6">
            <%= search_param "Platforms", Publication::PUBLICATION_PLATFORMS, :platforms, params, true %>
          </div>
          <div class="col-sm-6">
            <%= search_param "Academic Fields", Publication::PUBLICATION_FIELDS, :fields, params, true %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
