<%= form_tag(publications_path, :method => "get", id: "search-form") do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      Search full publication text
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
            <%= text_field_tag :search, params[:search],  class: "form-control",
                               placeholder: "Search Publications" %>
        </div>
        <% if current_user.try(:editor_or_admin?) %>
         <div class="col-sm-2">
            <div class="form-group">
              <%= select_tag :validation_type,
                             options_for_select(Validation::VALIDATION_TYPES,
                                                params[:validation_type]),
                             class: "form-control" %>
            </div>
          </div>
        <% end %>
        <div class="col-sm-2">
          <%= submit_tag "Search", class: "btn btn-basic" %>
        </div>
        <div class="col-sm-2">
          <a data-toggle="collapse" href="#collapse1">Advanced...</a>
        </div>
      </div>
    </div>
    <div id="collapse1" class="panel-collapse collapse search">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3">
            <%= search_param "Fields", Publication::PUBLICATION_SEARCH_FIELDS, :fields, params %>
          </div>
          <div class="col-sm-3">
            <%= search_param "Types", Publication::PUBLICATION_TYPES, :publication_types, params %>
          </div>
          <div class="col-sm-3">
            <%= search_param "Formats", Publication::PUBLICATION_FORMATS, :publication_formats, params %>
          </div>
          <div class="col-sm-3">
            <%= search_param "Characteristics", Publication::PUBLICATION_CHARACTERISTICS, :characteristics, params %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
