<%= render partial: "layouts/page_title", 
       locals: {title: "Behind the science",
          subtitle: @publication.short_citation,
          backlink: publications_path } %>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body" style="background: #3c90ce;">
        <div class="col-sm-10">
          <h3><%= @publication.title %></h3>
          <p><%= @publication.authors %></p>
        </div>
        <div class="col-sm-2" align="right">
            <% if @publication.pdf.exists? %>
              <%= link_to image_tag(@publication.pdf.url(:thumb), 
                                    width: "120px",
                                    style: "background-color: white; 
                                            padding: 5px;"), 
                          publication_path %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @publication.behind_contents? and @publication.photos.count > 0 %>
  <% behind_sections = @publication.behind_contents.split("\r\n\r\n") %>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">    
          <%= markdown(behind_sections[0]) %>
          <%= markdown(behind_sections[1]) %>
          <hr>
          <div class="row">
            <div class="col-sm-6">
              <%= render partial: 'photo_with_subtitle',
                         locals: {photo: @publication.photos[0]} %>
            </div>
            <div class="col-sm-6">
              <%= render partial: 'photo_with_subtitle',
                         locals: {photo: @publication.photos[1]} %>
            </div>
          </div>
          <hr>
          <%= markdown(behind_sections[2]) %>
          <%= markdown(behind_sections[3]) %>
          <hr>       
          <div class="row">
            <div class="col-sm-6">
              <%= render partial: 'photo_with_subtitle',
                         locals: {photo: @publication.photos[2]} %>
            </div>
            <div class="col-sm-6">
              <%= render partial: 'photo_with_subtitle',
                         locals: {photo: @publication.photos[3]} %>
            </div>
          </div>
          <hr>
          <%= markdown(behind_sections[4]) %>
          <%= markdown(behind_sections[5]) %>
          <hr>
          <div class="row">
            <div class="col-sm-6">
              <%= render partial: 'photo_with_subtitle',
                         locals: {photo: @publication.photos[4]} %>
            </div>
            <div class="col-sm-6">
              <%= render partial: 'photo_with_subtitle',
                         locals: {photo: @publication.photos[5]} %>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>    
  </div>
<% elsif @publication.photos.count > 0  %>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Photos</strong>
        </div>
        <div class="panel-body">    
          <%= render partial: 'shared/behind_the_scenes',
                     locals: {publication: @publication,
                              style: 'full'} %>
        </div>
      </div>
    </div>
  </div>
<% end %>