<%= render partial: "layouts/page_title",
       locals: {title: "Editing \"#{@publication.title_truncated}\"",
          backlink: publication_path(@publication) } %>

<%= form_for(@publication) do |f| %>
  <%= render partial: 'form_errorheader', locals: {f: f} %>
  <%= render partial: 'form_initial', locals: {f: f} %>
  <%= render partial: 'form_edit', locals: {f: f} %>
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="d-flex gap-2">
      <%= f.submit "Update Publication", class: "btn btn-primary" %>
      <%= link_to "Cancel", publications_path, class: "btn btn-outline-secondary" %>
    </div>
    <small class="text-muted">Updating will expire existing validations</small>
  </div>
<% end %>
