<% subtitle = "Search results for: '#{params[:search]}'" if params[:search] %>
<% subtitle = "Editor Mode" if current_user.try(:editor_or_admin?) %>
<%= render partial: "layouts/page_title",
       locals: { title: "Publications",
                 subtitle: subtitle,
                 backlink: root_path } %>

<%# Wide screen for search results or editor view %>
<% sidebar = !(params[:search].present? || current_user.try(:editor_or_admin?)) %>
<div class='row'>
  <% if sidebar %>
    <div class="col-sm-8">

  <% else %>
    <div class="col-sm-12">
  <% end %>

  <%# Temporary message at top of page %>
  <div class="panel panel-default">
    <div class="panel-body">
      We are currently undertaking a large effort to bring the Mesophotic.org database up-to-date and ensure that the vast majority of published scientific literature is included. If you have published any 
      scientific papers that are not currently listed, please add them to this <a href="https://tinyurl.com/mesopubs">Google Sheet (https://tinyurl.com/mesopubs)</a>.
    </div>
  </div>

  <%# Search field and pagination %>
  <%= render 'search_field' %>
  <% if current_user.try(:editor_or_admin?) %>
    <%= paginate @publications %> 
    Reverse sorted by ID
  <% else %>
    <%= paginate @publications %>
  <% end %>
  [<%= @publications.total_count %> results] 
  &bullet;
  <%= link_to "Download as CSV", publications_path(format: :csv, params: params.permit!) %>
  <br><br>

  <%# Render publications %>
  <table class="table table-striped">
    <% @publications.each do |publication| %>
      <% if current_user.try(:editor_or_admin?) %>
        <%= render partial: "publication_validation",
                   locals: { publication: publication } %>
      <% else %>
        <%= render publication %>
      <% end %>
    <% end %>
  </table>

  <%= paginate @publications %>[<%= @publications.total_count %> results] &bullet; <%= link_to "Download as CSV", publications_path(format: :csv, publication_ids: @publications.map(&:id).join(',')) %>
</div>

<%# Right column (only visible when not searching/editor ) %>
<% if sidebar %>
  <div class="col-sm-4">

    <%= render partial: 'featured_pub' %>

    <div class="panel panel-default">
      <div class="panel-heading"><strong>Locations</strong></div>
      <div class="panel-body" align="center">
        <%= render_async world_map_path(key: "publications_index", model: Location, ids: @locations, height: 150) %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Research focus</strong></div>
      <div class="panel-body" align="center">
        <%= render partial: 'shared/bar_graph',
                   locals: { title: 'Focus',
                             categories: @focusgroups.map(&:short_chart_description),
                             occurrences: @focusgroups.map(&:count),
                             height: 200,
                             unit: "Publications" } %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Fields</strong></div>
      <div class="panel-body" align="center">
        <%= render partial: 'shared/bar_graph',
                   locals: { title: 'Fields',
                             categories: @fields.map(&:short_chart_description),
                             occurrences: @fields.map(&:count),
                             height: 200,
                             unit: "Publications" } %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Research platforms</strong></div>
      <div class="panel-body" align="center">
        <%= render partial: 'shared/bar_graph',
                   locals: { title: 'Platforms',
                             categories: @platforms.map(&:short_chart_description),
                             occurrences: @platforms.map(&:count),
                             height: 200,
                             unit: "Publications" } %>
      </div>
    </div>
  </div>
<% end %>
</div>
