<%= render partial: 'layouts/page_title', 
		   locals: {title: 'New publication',
					breadcrumbs: [["Publications", publications_path], ["New", nil]] } %>

<%= form_for(@publication) do |f| %>
	<%= render partial: 'form_errorheader', locals: {f: f} %>
	<%= render partial: 'form_initial', locals: {f: f} %>
	<div class="actions"><%= f.submit "Save Publication", class: "btn btn-primary" %></div>
<% end %>