<%= render partial: "layouts/page_title",
       locals: {title: "Publications",
          subtitle: @publication.short_citation,
          backlink: publications_path } %>

<div class="row">
  <div class="col-sm-8">

    <div class="panel panel-default">
      <div class="panel-body" style="background: #CCCCCC;">
        <div class="col-sm-10">
          <p>
            <strong>
              <%= @publication.publication_type %>
              <%= @publication.publication_format %> |
              <%= @publication.journal.name if @publication.journal %>
              <% if @publication.open_access? %>
                |
                <font color="red">
                  open access
                </font>
                <%= image_tag('open_access.png',
                              style: 'float: right;') %>
              <% end %>
            </strong>
            <% if current_user.try(:editor_or_admin?) %>
              | <%= link_to "edit",
                            edit_publication_path(@publication) %>
            <% end %>
          </p>
          <h3><%= @publication.title %></h3>
          <p><%= @publication.authors %></p>
        </div>
        <div class="col-sm-2" align="right">
          <%= render partial: 'publication_links', locals: { user: @user } %>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><strong>Abstract</strong></div>
      <div class="panel-body">
        <p><%= linkify(@publication.abstract) %></p>
      </div>
    </div>

    <% if @publication.behind_the_science? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Behind the science</strong>
        </div>
        <div class="panel-body">
          <%= render partial: 'shared/behind_the_scenes',
                     locals: { post: @publication.featured_post,
                               style: 'overview' } %>
        </div>
      </div>
    <% end %>

    <% if @publication.sites.count > 0 %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Research sites</strong></div>
        <div class="panel-body">
          <%= render_async world_map_path(model: Site, ids: @publication.sites.map(&:id).join(','), height: 300, z: 1) %>
        </div>
        <div class="panel-footer">
          <table width="100%">
            <% for site in @publication.sites %>
              <tr>
                <td><%= site.location.description %></td>
                <td><%= site.site_name %></td>
                <td>Lat: <%= site.latitude %></td>
                <td>Lon: <%= site.longitude %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    <% end %>
  </div>


  <div class="col-sm-4">
    <% if @publication.pdf.exists? %>
      <div class="panel panel-default">
        <div class="panel-body" align="center">
          <%= image_tag URI.join(request.base_url, @publication.pdf.url(:medium)).to_s %>
        </div>
      </div>
    <% end %>

    <% if not @publication.contents.blank? %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Keywords</strong></div>
        <div class="panel-body">
          <%= render_async publication_keywords_path(id: @publication.id) %>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading"><strong>Meta-data</strong>
        <% if @publication.validated? %>
          <span class="glyphicon glyphicon-ok-sign" info="At least two editors have validated these metadata."></span>
        <% else %>
          (pending validation)
        <% end %>
      </div>
      <div class="panel-body">
        <% if @publication.min_depth and @publication.max_depth %>
          <strong>Depth range</strong><br>
          <%= @publication.min_depth %>-
          <%= @publication.max_depth %> m<br>
        <% end %>
        <br>
        <strong>Mesophotic &ldquo;mentions&rdquo;</strong>
        <% if not @publication.contents.blank? %>
          <% deep_count, word_count = mesophotic_score(@publication.contents) %>
          <br>
          <%= deep_count %> x
          (total of <%= word_count %> words)<br>
          <br>
        <% else %>
          <p class="bg-warning">&nbsp;Full text not (yet) indexed.</p>
        <% end %>

        <b>Classification</b><br>
        <% if @publication.original_data %>
          * Presents original data<br>
        <% end %>
        <% if @publication.new_species %>
          * Reports new species<br>
        <% end %>
        <% if @publication.mesophotic %>
          * Focused on 'mesophotic' depth range<br>
        <% end %>
        <% if @publication.mce %>
          * Focused on 'mesophotic coral ecosystem'<br>
        <% end %>
        <% if @publication.tme %>
          * Focused on 'temperate mesophotic ecosystem'<br>
        <% end %>
        <br>

        <%= render partial: 'shared/metadata',
                   locals: { entity: @publication } %>

      </div>
      <div class="panel-footer">
        <%
        credits = []
        if @publication.contributor.present?
          credits << "Contributed by: #{link_to @publication.contributor.full_name_normal, member_pages_path(@publication.contributor.id)}"
        end
        if @publication.validations.count > 0
          credits << "Validated by: #{@publication.validations.map { |validation|
              link_to validation.user.full_name_normal, member_pages_path(validation.user.id)
          }.join(" | ")}"
        end
        %>
        <%=raw credits.join("<br>") %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><strong>Author profiles</strong></div>
      <div class="panel-body">
        <%= render_async publication_authors_path(id: @publication.id) %>
      </div>
    </div>
  </div>
</div>
<br /><br />
