<%= render partial: "layouts/page_title",
       locals: {title: "Publications",
          subtitle: @publication.short_citation,
          backlink: publications_path } %>

<div class="row">
  <div class="col-sm-8">

    <div class="panel panel-default">
      <div class="panel-body" style="background: #CCCCCC;">
        <div class="col-sm-10">
          <p>
            <strong>
              <%= @publication.publication_type %>
              <%= @publication.publication_format %> |
              <%= @publication.journal.name if @publication.journal %>
              <% if @publication.open_access? %>
                |
                <font color="red">
                  open access
                </font>
                <%= image_tag('open_access_small.png',
                              style: 'float: right;') %>
              <% end %>
            </strong>
            <% if current_user.try(:editor_or_admin?) %>
              | <%= link_to "edit",
                            edit_publication_path(@publication) %>
            <% end %>
          </p>
          <h3><%= @publication.title %></h3>
          <p><%= @publication.authors %></p>
        </div>
        <div class="col-sm-2" align="right">
          <%= render partial: 'publication_links',
                       locals: { user: @user } %>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><strong>Abstract</strong></div>
      <div class="panel-body">
        <p><%= @publication.abstract %></p>
      </div>
    </div>

    <% if @publication.behind_the_science? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Behind the science</strong>
        </div>
        <div class="panel-body">
          <%= render partial: 'shared/behind_the_scenes',
                     locals: {post: @publication.featured_post,
                              style: 'overview'} %>
        </div>
      </div>
    <% end %>

    <% if @publication.sites.count > 0 %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Research sites</strong></div>
        <div class="panel-body">
          <% data = format_sites_and_coordinates(@publication.sites) %>
          <%= render partial: 'shared/world_map_clickable',
                     locals: { title: 'Locations',
                               data: data,
                               height: 300 } %>
          <br>
        </div>
        <div class="panel-footer">
          <table width="100%">
            <% for site in @publication.sites %>
              <tr>
                <td><%= site.location.description %></td>
                <td><%= site.site_name %></td>
                <td>Lat: <%= site.latitude %></td>
                <td>Lon: <%= site.longitude %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    <% end %>
  </div>


  <div class="col-sm-4">
    <% if @publication.pdf.exists? %>
      <div class="panel panel-default">
        <div class="panel-body" align="center">
          <%= image_tag @publication.pdf.url(:medium) %>
        </div>
      </div>
    <% end %>

    <% if not @publication.contents.blank? %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Keywords</strong></div>
        <div class="panel-body">
          <%= render partial: 'shared/wordcloud',
                     object: word_cloud(40, @publication.contents),
                     locals: { title: 'publication_contents' } %>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading"><strong>Meta-data</strong>
        <% if @publication.validated? %>
          <span class="glyphicon glyphicon-ok-sign" info="At least two editors have validated these metadata."></span>
        <% else %>
          (pending validation)
        <% end %>
      </div>
      <div class="panel-body">
        <% if @publication.min_depth and @publication.max_depth %>
          <strong>Depth range</strong><br>
          <%= @publication.min_depth %>-
          <%= @publication.max_depth %> m<br>
        <% end %>
        <br>
        <strong>Mesophotic &ldquo;mentions&rdquo;</strong>
        <% if not @publication.contents.blank? %>
          <% deep_count, word_count = mesophotic_score(@publication.contents) %>
          <br>
          <%= deep_count %> x
          (total of <%= word_count %> words)<br>
          <br>
        <% else %>
          <p class="bg-warning">&nbsp;Full text not (yet) indexed.</p>
        <% end %>

        <%= render partial: 'shared/metadata',
                   locals: { entity: @publication } %>

        <% if @publication.new_species %>
          <br>Reports new species<br>
        <% end %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><strong>Author profiles</strong></div>
      <div class="panel-body">
        <% @publication.users.each do |user| %>
          <%= link_to "#{user.first_name} #{user.last_name}",
                      member_pages_path(user.id) %>
          ( <span class="badge"><%= user.publications.count %></span> pubs)
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br /><br />
