<%= render partial: "layouts/page_title",
           locals: {
             title: content_tag(:i, object.name),
             page_title: object.name,
             breadcrumbs: [["Species", species_index_path], [object.name, nil]]
           } %>

<div class="row">
  <div class="col-sm-8">
    <%= paginate publications %>
    <div class="mb-3" style="margin-top: -0.5rem;">
      <small class="text-muted"><%= page_entries_info publications %></small>
      <% if current_user %><small>&bullet; <%= link_to "Download as CSV", summary_path(title.downcase, object.id, format: :csv) %></small><% end %>
    </div>

    <div class="card">
      <div class="card-body" style="background-color: #f8f9fa;">
        <%= render partial: 'pages/newsfeed',
                   locals: { publications: publications.includes(:users, :journal, pdf_attachment: :blob) } %>
      </div>
    </div>

    <div class="mt-2 mb-2">
      <small class="text-muted"><%= page_entries_info publications %></small>
      <% if current_user %><small>&bullet; <%= link_to "Download as CSV", summary_path(title.downcase, object.id, format: :csv) %></small><% end %>
    </div>
    <%= paginate publications %>
  </div>

  <div class="col-sm-4">
    <div class="card" style="min-height: 200px; background-color: #f0f1f3;">
      <div class="card-header"><strong>Species Image</strong></div>
      <%= turbo_frame_tag "species-image-#{object.id}", src: species_image_path(id: object.id) do %>
        <div class="d-flex justify-content-center align-items-center" style="min-height: 150px;">
          <div class="spinner-border text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
