<%= render partial: "layouts/page_title",
           locals: {
             title: title,
       	     subtitle: subtitle,
             backlink: species_index_path
           } %>

<div class="row">
  <div class="col-sm-7">

    <div class="panel panel-default">
      <div class="panel-body">
	    	<h2><i><%= object.name %></i></h2>
			</div>
		</div>

    <div class="panel panel-default">
      <div class="panel-body">
        <%= paginate publications %>[<%= publications.total_count %> results] &bullet; <%= link_to "Download as CSV", summary_path(title.downcase, object.id, format: :csv) %>
        <br><br>

	      <table class="table table-striped">
          <%= render partial: 'species/publication', collection: publications %>
				</table>
        <%= paginate publications %>[<%= publications.total_count %> results] &bullet; <%= link_to "Download as CSV", summary_path(title.downcase, object.id, format: :csv) %>
			</div>
		</div>
	</div>

  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading" align=center">
        <% if object.focusgroup_id == 1 && url_exists?(object.img_url)    # Fish %>
          <% species_img = get_fishbase_image(object.img_url) %>
          <%= link_to image_tag(species_img), object.img_url if species_img %>
          Photograph from "fishbase.se" - 
          <%= link_to "Fishbase Factsheet", object.img_url %>
        <% elsif object.focusgroup_id == 2 && url_exists?(object.img_url) # Coral %>
          <% species_img = get_cotw_image(object.img_url) %>
          <%= link_to image_tag(species_img), object.img_url if species_img %>
          Photograph from "coralsoftheworld.org" - 
          <%= link_to "Corals of the World Factsheet", object.img_url %>
        <% end %>
			</div>
		</div>

  </div>
</div>
