<% species_img = cached_species_image(object) %>
<% if species_img && object.focusgroup_id == 1 %>
  <div class="card-body p-0" style="background-color: #f0f1f3;">
    <%= link_to object.img_url, target: "_blank" do %>
      <%= image_tag species_img, style: "width: 100%; display: block;" %>
    <% end %>
  </div>
  <div class="card-footer text-center">
    <small class="text-muted">Photograph from "fishbase.se"</small><br>
    <small><%= link_to "Fishbase Factsheet", object.img_url, target: "_blank", style: "text-decoration: none;" %></small>
  </div>
<% elsif species_img && object.focusgroup_id == 2 %>
  <div class="card-body p-0" style="background-color: #f0f1f3;">
    <%= link_to object.img_url, target: "_blank" do %>
      <%= image_tag species_img, style: "width: 100%; display: block;" %>
    <% end %>
  </div>
  <div class="card-footer text-center">
    <small class="text-muted">Photograph from "coralsoftheworld.org"</small><br>
    <small><%= link_to "Corals of the World Factsheet", object.img_url, target: "_blank", style: "text-decoration: none;" %></small>
  </div>
<% end %>
