<% focusgroup_description = focusgroup.try(:description)
   focusgroup_name = focusgroup_description.parameterize.underscore %>
<div class="card">
  <div class="card-header" id="heading_<%= focusgroup_name %>">
    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_<%= focusgroup_name %>" aria-expanded="true" aria-controls="collapse_<%= focusgroup_name %>">
      <%= focusgroup_description %>
      <% if focusgroup.species.count > 0 %>
        <span class="badge"><%= focusgroup.species.count %></span>
      <% end %>
    </button>
  </div>

  <div class="card-body collapse" id="collapse_<%= focusgroup_name %>" aria-labelledby="heading_<%= focusgroup_name %>" data-bs-parent="#species_accordion">
    <% species_list.order("name ASC").each do |species| %>
      <%= link_to species.name, species_path(species.id) %>
      <% if species.publications.count > 0 %>
        <span class="badge"><%= species.publications.count %></span>
      <% end %>
      <br>
    <% end %>
  </div>
</div>