<%= render partial: "layouts/page_title",
       locals: {title: "Species",
       			subtitle: @species.name,
                backlink: species_path } %>

<div class="row">
  <div class="col-sm-7">

    <div class="panel panel-default">
      <div class="panel-body">
	    	<h2><%= @species.name %></h2>

			</div>
		</div>

    <div class="panel panel-default">
      <div class="panel-body">
	      <table class="table table-striped">
          <%= render partial: 'species/publication', collection: @publications %>
				</table>
			</div>
		</div>
	</div>

  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading" align="center">
        <% if !@species.fishbase_webid.nil? && url_exists?(@species.img_url) %>
          <% species_img = get_fishbase_image(@species.img_url) %>
          <%= image_tag species_img %>
        <% end %>
        <% if !@species.aims_webid.nil? %>
          <% species_img = get_aims_image(@species.img_url) %>
          <%= link_to image_tag(species_img[0]), @species.img_url %>
          <%= link_to "AIMS Coral Factsheet Photo:", @species_img_url %>
          <%= species_img[1] %>
        <% end %>
			</div>
		</div>

    <div class="panel panel-default">
      <div class="panel-heading">

      </div>
      <div class="panel-body">        

      </div>
    </div>

  </div>
</div>