<div id="wordcloud_<%= title %>">
  <script type="text/javascript">
    var <%= title %>_data = <%= raw word_count(data, cut_off).to_json %>
    $(function() {
      // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
      $("#wordcloud_<%= title %>").jQCloud(<%= title %>_data, { shape: "rectangular",
                                                                removeOverflowing: true,
                                                                width: <%= width %>, 
                                                                height: <%= height %>});
    });
  </script>
</div>