<% if post.post_type == "behind_the_science" %> 
  <%= render partial: 'shared/behind_the_scenes',
             locals: {post: post,
                      style: 'overview'} %>
<% elsif post.post_type == "early_career" &&
         post.featured_user.present? %>
  <%= render partial: 'shared/behind_the_scenes',
           locals: {post: post } %>          
<% end %>

<h4>
  <%= post.category %>: 
  <%= link_to "#{post.title}", post_path(post.slug) %>
</h4>
<small><i class="fa fa-calendar"></i>&nbsp;&nbsp;
<%= post.created_at.strftime("%Y, %B %-d") %>
<% if post.user.present? %>
  - posted by
  <%= link_to "#{post.user.first_name} #{post.user.last_name}",
                      member_path(post.user) %></small>
<% end %>
<br>