<div id="graph_<%= title %>" style="height:<%= height %>px;">
  <script type="text/javascript" charset="utf-8">
    var <%= title %>_categories = <%= raw data[0].map { |d| d[:description] }.to_json %>
    var <%= title %>_occurrences = <%= raw data[1].to_json %>
    $(function () {
        $('#graph_<%= title %>').highcharts({
            chart: { type: 'bar' },
            title: { text: '' },
            credits: { enabled: false },
            legend: { enabled: false },
            xAxis: { categories: <%= title %>_categories},
            yAxis: {
                      title: { text: ''} },
            series: [{
                name: '<%= unit %>',
                data: <%= title %>_occurrences
            }]
        });
    });
  </script>
</div>
