<div class="col-sm-8">
  <% data = count_geographic_occurrences_of_publications(@locations) %>
  <%= render partial: 'shared/world_map', locals: { title: 'Locations',
                                                    data: data } %>  
</div>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="http://mesophotic.org" class="pull-left"><img src="images/header.png"></a>
    </div>
    
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </div>
</nav>


<div class="row">
  <!-- Fish -->
  <div class="col-sm-2">
    <img src="images/focus_fish.png" width='100'>      
  </div>
  <div class="col-sm-1">
    <h2><%= @focusgroups.find_by_description("Fish").publications.count %></h2>
  </div>
  <!-- Fish -->
  <div class="col-sm-2">
    <img src="images/focus_fish.png" width='100'>      
  </div>
  <div class="col-sm-1">
    <h2><%= @focusgroups.find_by_description("Fish").publications.count %></h2>
  </div>
  <!-- Fish -->
  <div class="col-sm-2">
    <img src="images/focus_fish.png" width='100'>      
  </div>
  <div class="col-sm-1">
    <h2><%= @focusgroups.find_by_description("Fish").publications.count %></h2>
  </div>
  <!-- Fish -->
  <div class="col-sm-2">
    <img src="images/focus_fish.png" width='100'>      
  </div>
  <div class="col-sm-1">
    <h2><%= @focusgroups.find_by_description("Fish").publications.count %></h2>
  </div>
</div>