<div class="col-sm-4">
  <h2 align='right'>Member stats</h2>


  <% data = count_geographic_occurrences_of_users(@users) %>
  <%= render partial: 'shared/world_map', locals: { title: 'Sites',
                                                    data: data } %>
</div>


<div class="row">
  <div class="col-sm-12">
    <% data = format_sites_and_coordinates(@sites) %>
    <%= render partial: 'shared/sitemap', locals: { title: 'Sites',
                                                      data: data } %>
  </div>
</div>


<%= link_to 'New Publication', new_publication_path %>

          <%= render partial: 'shared/pie_graph',
                     locals: { title: 'Focusgroup3060',
                               data: format_for_pie_chart(
                                        @focusgroup_by_depth_group["30-60 m"],
                                        @focusgroups),
                               height: 100, unit: 'Publications' } %>
          <%= render partial: 'shared/pie_graph',
                     locals: { title: 'Focusgroup6090',
                               data: format_for_pie_chart(
                                        @focusgroup_by_depth_group["60-90 m"],
                                        @focusgroups),
                               height: 100, unit: 'Publications' } %>
          <%= render partial: 'shared/pie_graph',
                     locals: { title: 'Focusgroup90120',
                               data: format_for_pie_chart(
                                        @focusgroup_by_depth_group["90-120 m"],
                                        @focusgroups),
                               height: 100, unit: 'Publications' } %>
          <%= render partial: 'shared/pie_graph',
                     locals: { title: 'Focusgroup120150',
                               data: format_for_pie_chart(
                                        @focusgroup_by_depth_group["120-150 m"],
                                        @focusgroups),
                               height: 100, unit: 'Publications' } %>
          <p>
            Fig. 1c: Focus taxa over depth<br>
            <small>
              When a paper focuses on multiple taxa, each taxa is assumed to be
              studied over the entire depth range
              (as no information is usually available on further partitioning)
              (<%= link_to 'definitions', about_pages_path %>).
            </small>
          </p>
