<%= render partial: "layouts/page_title",
       locals: {title: @post.title,
          supertitle: "Announcement",
          breadcrumbs: [["News", posts_pages_path], [@post.title, nil]] } %>
<p class="text-muted mb-4" style="font-size: 0.85em;">
  <%= l @post.created_at.to_date, format: :long %> · Posted by <%= link_to "#{@post.user.first_name} #{@post.user.last_name}", member_pages_path(@post.user), style: "text-decoration: none;" %>
  <% if current_user.try(:editor_or_admin?) %>
    <%= link_to edit_admin_post_path(@post.slug), class: "text-muted icon-btn ms-2" do %><i class="bi bi-pencil"></i><i class="bi bi-pencil-fill"></i><% end %>
  <% end %>
</p>

<div class="row">
  <div class="col-sm-3">

    <% if @post.user.present? %>
      <div class="card">
        <div class="card-header"><strong>Posted by:</strong></div>
        <div class="card-body" align="center">
          <% if @post.user.profile_picture.attached? %>
            <div class="rounded-3 d-inline-block" style="width: 200px; height: 200px; background-color: #f0f1f3; overflow: hidden;">
              <%= link_to member_pages_path(@post.user) do %>
                <%= image_tag @post.user.profile_picture.variant(resize: "200x200>"),
                              style: "width: 100%; height: 100%; object-fit: cover;" %>
              <% end %>
            </div>
          <% end %>
          <strong>
            <%= link_to "#{@post.user.first_name} #{@post.user.last_name}", member_pages_path(@post.user) %>
          </strong><br>
          <small>
            <% if @post.user.organisation %>
              <%= @post.user.organisation.name %>&nbsp;
              (<%= ISO3166::Country[@post.user.organisation.country] %>)<br>
            <% end %>
          </small>
        </div>
      </div>
    <% end %>

    <div class="card">
      <div class="card-header"><strong>Announcement Keywords</strong></div>
      <div class="card-body">
        <%= render partial: 'shared/wordcloud',
                   object: @post.word_cloud(20),
                   locals: { title: 'post_contents' } %>
      </div>
    </div>

  </div>

  <div class="col-sm-9">
    <% if @post.content_md? %>
      <% behind_sections = @post.content_md.split("\n\n") %>
      <div class="row">
        <div class="col-sm-12">
          <font color="#2b82bc">
            <h1>&ldquo;<%= @post.title %>&rdquo;</h1>
          </font><br>
          <p><%= markdown(@post.content_md) %></p>
        </div>
      </div>
    <% elsif @post.photos.count > 0  %>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <strong>Photos</strong>
            </div>
            <div class="card-body">
              <%= render partial: 'shared/behind_the_scenes',
                         locals: {publication: @post,
                                  style: 'full'} %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
