<%= render partial: "layouts/page_title",
       locals: {title: "Announcement",
          subtitle: @post.title,
          backlink: posts_pages_path } %>

<div class="row">
  <div class="col-sm-3">
    <br>
    <i class="fa fa-calendar"></i>&nbsp;&nbsp;
    <%= @post.created_at.strftime("%Y, %B %-d") %><br>
    <small>
      Posted by
      <%= link_to "#{@post.user.first_name} #{@post.user.last_name}",
                          member_pages_path(@post.user) %>
      <% if current_user.try(:editor_or_admin?) %>
        <br><%= link_to "Edit post", edit_admin_post_path(@post.slug) %>
      <% end %>
    </small><br><br>

    <% if @post.user.present? %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Posted by:</strong></div>
        <div class="panel-body" align="center">
          <% if @post.user.profile_picture.attached? %>
            <%= link_to image_tag(@post.user.profile_picture.variant(resize: "200x200>")),
                        member_pages_path(@post.user) %>
          <% end %>
          <strong>
            <%= link_to "#{@post.user.first_name} #{@post.user.last_name}", member_pages_path(@post.user) %>
          </strong><br>
          <small>
            <% if @post.user.organisation %>
              <%= @post.user.organisation.name %>&nbsp;
              (<%= ISO3166::Country[@post.user.organisation.country] %>)<br>
            <% end %>
          </small>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading"><strong>Announcement keywords</strong></div>
      <div class="panel-body">
        <%= render partial: 'shared/wordcloud',
                   object: WordCloud.generate(20, @post.content_md),
                   locals: { title: 'post_contents' } %>
      </div>
    </div>

  </div>

  <div class="col-sm-9">
    <% if @post.content_md? %>
      <% behind_sections = @post.content_md.split("\r\n\r\n") %>
      <div class="row">
        <div class="col-sm-12">
          <font color="#2b82bc">
            <h1>&ldquo;<%= @post.title %>&rdquo;</h1>
          </font><br>
          <p><%= markdown(@post.content_md) %></p>
        </div>
      </div>
    <% elsif @post.photos.count > 0  %>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Photos</strong>
            </div>
            <div class="panel-body">
              <%= render partial: 'shared/behind_the_scenes',
                         locals: {publication: @post,
                                  style: 'full'} %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
