<% @researcher = @post.featured_user %>

<%= render partial: "layouts/page_title",
       locals: {title: "Blog",
          subtitle: "An interview with #{@researcher.full_name_normal}",
          backlink: posts_pages_path } %>

<div class="row">
  <div class="col-sm-3">
    <br>
    <i class="fa fa-calendar"></i>&nbsp;&nbsp;
    <%= @post.created_at.strftime("%Y, %B %-d") %><br>
    <small>
      Posted by
      <%= link_to "#{@post.user.first_name} #{@post.user.last_name}",
                          member_pages_path(@post.user) %>
      <% if current_user.try(:editor_or_admin?) %>
        <br><%= link_to "Edit post", edit_admin_post_pages_path(@post.slug) %>
      <% end %>
    </small><br><br>

    <div class="panel panel-default">
      <div class="panel-heading"><strong>An interview with:</strong></div>
      <div class="panel-body" align="center">
        <% if @researcher.profile_picture.present? %>
          <%= link_to image_tag(@researcher.profile_picture.url(:medium)),
                      member_pages_path(@researcher) %>
        <% end %>
        <strong>
          <%= link_to "#{@post.featured_user.first_name} #{@post.featured_user.last_name}", member_pages_path(@researcher) %>
        </strong><br>
        <small>
          <% if @researcher.organisation %>
            <%= @researcher.organisation.name %>&nbsp;
            (<%= ISO3166::Country[@researcher.organisation.country] %>)<br>
          <% end %>
        </small>
      </div>
    </div>

    <% if @researcher.research_interests.present? %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Short bio:</strong></div>
        <div class="panel-body">
          <small>
            <%= markdown(@researcher.research_interests) %>
          </small>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading"><strong>Interview keywords</strong></div>
      <div class="panel-body">
        <%= render partial: 'shared/wordcloud_width',
                   locals: { title: 'post_contents',
                   data: @post.content_md,
                   cut_off: 10, width: 220 } %>
      </div>
    </div>

    <% if @researcher.publications.count > 0 %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Study locations</strong></div>
        <div class="panel-body">
          <% data = count_geographic_occurrences_of_publications_from_user(@researcher) %>
          <%= render partial: 'shared/world_map', locals: { title: 'Locations',
                                                            data: data,
                                                            height: 150 } %>
        </div>
      </div>
    <% end %>

  </div>

  <div class="col-sm-9">
    <% if @post.content_md? and @post.photos.count > 0 %>
      <% behind_sections = @post.content_md.split("\r\n\r\n") %>
      <div class="row">
        <div class="col-sm-12">
          <font color="#2b82bc">
            <h1>Early Career Scientist: <%= @researcher.full_name_normal %></h1>
          </font><br>
          <div class="panel panel-default">
            <div class="panel-body" align="center" style="background-color: #f5f5f5">
              <div class="row">
                <div class="col-sm-6">
                  <%= markdown(behind_sections[0]) %>
                </div>
                <div class="col-sm-6">
                  <%= markdown(behind_sections[1]) %>
                </div>
              </div>
            </div>
          </div>
          <%= markdown(behind_sections[2]) %>
          <%= markdown(behind_sections[3]) %>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">
                  <%= render partial: 'photo_with_subtitle',
                             locals: {photo: @post.photos[0]} %>
                </div>
                <div class="col-sm-6">
                  <%= render partial: 'photo_with_subtitle',
                             locals: {photo: @post.photos[1]} %>
                </div>
              </div>
            </div>
          </div>
          <%= markdown(behind_sections[4]) %>
          <%= markdown(behind_sections[5]) %>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">
                  <%= render partial: 'photo_with_subtitle',
                             locals: {photo: @post.photos[2]} %>
                </div>
                <div class="col-sm-6">
                  <%= render partial: 'photo_with_subtitle',
                             locals: {photo: @post.photos[3]} %>
                </div>
              </div>
            </div>
          </div>
          <%= markdown(behind_sections[6]) %>
          <%= markdown(behind_sections[7]) %>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">
                  <%= render partial: 'photo_with_subtitle',
                             locals: {photo: @post.photos[4]} %>
                </div>
                <div class="col-sm-6">
                  <%= render partial: 'photo_with_subtitle',
                             locals: {photo: @post.photos[5]} %>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    <% elsif @post.photos.count > 0  %>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Photos</strong>
            </div>
            <div class="panel-body">
              <%= render partial: 'shared/behind_the_scenes',
                         locals: {publication: @post,
                                  style: 'full'} %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
