<% @publication = @post.featured_publication %>

<%= render partial: "layouts/page_title",
       locals: {title: "Behind the science",
          subtitle: @publication.title_truncated,
          backlink: posts_pages_path } %>

<div class="row">
  <div class="col-sm-3">
    <br>
    <i class="fa fa-calendar"></i>&nbsp;&nbsp;
    <%= @post.created_at.strftime("%Y, %B %-d") %><br>
    <small>
      Posted by
      <%= link_to "#{@post.user.first_name} #{@post.user.last_name}",
                          member_pages_path(@post.user) %>
      <% if current_user.try(:editor_or_admin?) %>
        <br><%= link_to "Edit post", edit_admin_post_path(@post.slug) %>
      <% end %>
    </small><br><br>

    <% if @post.featured_user.present? %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong>An interview with:</strong></div>
        <div class="panel-body" align="center">
          <% if @post.featured_user.profile_picture.present? %>
            <%= link_to image_tag(@post.featured_user.profile_picture.url(:medium)),
                        member_pages_path(@post.featured_user) %>
          <% end %>
          <strong>
            <%= link_to "#{@post.featured_user.first_name} #{@post.featured_user.last_name}", member_pages_path(@post.featured_user) %>
          </strong><br>
          <small>
            <% if @post.featured_user.organisation %>
              <%= @post.featured_user.organisation.name %>&nbsp;
              (<%= ISO3166::Country[@post.featured_user.organisation.country] %>)<br>
            <% end %>
          </small>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading"><strong>Interview keywords</strong></div>
      <div class="panel-body">
        <%= render partial: 'shared/wordcloud',
                   object: WordCloud.generate(20, @post.content_md),
                   locals: { title: 'post_contents' } %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><strong>Study location</strong></div>
      <div class="panel-body">
        <%= render_async world_map_path(model: Location, ids: @publication.locations.map(&:id).join(','), height: 150, z: 1) %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Publication metadata</strong></div>
      <div class="panel-body">
        <%= render partial: 'shared/metadata',
                   locals: { entity: @publication } %>
      </div>
    </div>

  </div>

  <div class="col-sm-9">
    <% if @post.content_md? and @post.photos.count > 0 %>
      <div class="row">
        <div class="col-sm-12">
          <font color="#2b82bc">
            <h1>&ldquo;<%= @post.title %>&rdquo;</h1>
          </font><br>

          <% @post.content_md.split(/\s*?\r\n\s*?\r\n\s*?/).zip(@post.photos).in_groups_of(2).each do |bs| %>
            <%= markdown(bs[0][0]) %>
            <%= markdown(bs[1][0]) %>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-6">
                    <%= render partial: 'photo_with_subtitle',
                              locals: {photo: bs[0][1]} %>
                  </div>
                  <div class="col-sm-6">
                    <%= render partial: 'photo_with_subtitle',
                              locals: {photo: bs[1][1]} %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <h4>Featured article:</h4>
          <table class="table table-striped">
            <%= render partial: 'publications/publication',
               locals: {publication: @publication } %>
          </table>
        </div>
      </div>
    <% elsif @post.photos.count > 0  %>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Photos</strong>
            </div>
            <div class="panel-body">
              <%= render partial: 'shared/behind_the_scenes',
                         locals: {publication: @post,
                                  style: 'full'} %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
