<% @publication = @post.featured_publication %>

<%= render partial: "layouts/page_title",
       locals: {title: @publication.title,
          supertitle: "Behind the Science",
          breadcrumbs: [["News", posts_pages_path], [@publication.title_truncated, nil]] } %>
<p class="text-muted mb-4" style="font-size: 0.85em;">
  <%= l @post.created_at.to_date, format: :long %> · Posted by <%= link_to "#{@post.user.first_name} #{@post.user.last_name}", member_pages_path(@post.user), style: "text-decoration: none;" %>
  <% if current_user.try(:editor_or_admin?) %>
    <%= link_to edit_admin_post_path(@post.slug), class: "text-muted icon-btn ms-2" do %><i class="bi bi-pencil"></i><i class="bi bi-pencil-fill"></i><% end %>
  <% end %>
</p>

<div class="row">
  <div class="col-sm-3">

    <% if @post.featured_user.present? %>
      <div class="card">
        <div class="card-header"><strong>An interview with:</strong></div>
        <div class="card-body" align="center">
          <% if @post.featured_user.profile_picture.attached? %>
            <div class="rounded-3 d-inline-block" style="width: 200px; height: 200px; background-color: #f0f1f3; overflow: hidden;">
              <%= link_to member_pages_path(@post.featured_user) do %>
                <%= image_tag @post.featured_user.profile_picture.variant(resize: "200x200>"),
                              style: "width: 100%; height: 100%; object-fit: cover;" %>
              <% end %>
            </div>
          <% end %>
          <strong>
            <%= link_to "#{@post.featured_user.first_name} #{@post.featured_user.last_name}", member_pages_path(@post.featured_user) %>
          </strong><br>
          <small>
            <% if @post.featured_user.organisation %>
              <%= @post.featured_user.organisation.name %>&nbsp;
              (<%= ISO3166::Country[@post.featured_user.organisation.country] %>)<br>
            <% end %>
          </small>
        </div>
      </div>
    <% end %>

    <div class="card">
      <div class="card-header"><strong>Interview Keywords</strong></div>
      <div class="card-body">
        <%= render partial: 'shared/wordcloud',
                   object: @post.word_cloud(20),
                   locals: { title: 'post_contents' } %>
      </div>
    </div>

    <div class="card">
      <div class="card-header"><strong>Study Location</strong></div>
      <div class="card-body" style="min-height: 150px;">
        <%= turbo_frame_tag "world-map-pages_post_behind", src: world_map_path(key: "pages_post_behind", model: Location, ids: @publication.locations.map(&:id).join(','), height: 150, z: 1), loading: :lazy %>
      </div>
    </div>
    <div class="card">
      <div class="card-header"><strong>Publication Metadata</strong></div>
      <div class="card-body">
        <%= render partial: 'shared/metadata',
                   locals: { entity: @publication } %>
      </div>
    </div>

  </div>

  <div class="col-sm-9">
    <% if @post.content_md? and @post.photos.count > 0 %>
      <div class="row">
        <div class="col-sm-12">
          <font color="#2b82bc">
            <h1>&ldquo;<%= @post.title %>&rdquo;</h1>
          </font><br>

          <% @post.content_md.split(/\s*?\r\n\s*?\r\n\s*?/).zip(@post.photos).in_groups_of(2).each do |bs| %>
            <%= markdown(bs[0][0]) if bs[0].present? %>
            <%= markdown(bs[1][0]) if bs[1].present? %>
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <% if bs[0].present? && bs[0][1].present? %>
                  <div class="col-sm-6">
                    <%= render partial: 'photo_with_subtitle',
                               locals: { photo: bs[0][1] } %>
                  </div>
                  <% end %>
                  <% if bs[1].present? && bs[1][1].present? %>
                  <div class="col-sm-6">
                    <%= render partial: 'photo_with_subtitle',
                               locals: { photo: bs[1][1] } %>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

          <h4>Featured Article:</h4>
          <table class="table table-striped">
            <%= render partial: 'publications/publication',
               locals: {publication: @publication } %>
          </table>
        </div>
      </div>
    <% elsif @post.photos.count > 0  %>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <strong>Photos</strong>
            </div>
            <div class="card-body">
              <%= render partial: 'shared/behind_the_scenes',
                         locals: {publication: @post,
                                  style: 'full'} %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
