<% @twitter_feed.each do |tweet| %>
  <div class="row">
    <div class="col-sm-2">
      <%# Avatar %>
      <% profile_pic_url = tweet.user.profile_image_uri.to_s %>
      <% tweet_user = @users.find_by(twitter: "@#{tweet.user.screen_name}")  %>
      <% if tweet_user %>
        <%= link_to image_tag(profile_pic_url.sub! 'normal', 'bigger'),
                    member_pages_path(tweet_user) %>
      <% else %>
        <%= image_tag(profile_pic_url.sub! 'normal', 'bigger') %>
      <% end %>
    </div>

    <div class="col-sm-10">
      <%# Twitter name and handle %>
      <strong>
        <% if tweet_user %>
          <%= link_to tweet.user.name, member_pages_path(tweet_user) %>
        <% else %>
          <%= tweet.user.name %>
        <% end %>
      </strong>
      &nbsp;<%= link_to "@#{tweet.user.screen_name}", tweet.uri.to_s %>
      <%= link_to (image_tag "twitter_icon.png", size: "18x18", style: "float: right"), tweet.uri.to_s %>
      <br>

      <%# Tweet content %>
      <%= tweet.text
           .gsub(/(?:f|ht)tps?:\/[^\s]+/, '') # remove the link string
           .gsub(/(#mesophotic)/i, "<strong>\\1</strong>") # bold the hashtag
           .html_safe %>

      <%# Tweet links %>
      <% tweet.urls.each do |url|  %>
        <%= link_to url.expanded_url.to_s do %>
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        <% end %>
      <% end %>

      <%# Tweet media %>
      <% if tweet.media.count > 0 %>
        <p>
          <%= link_to "#{tweet.media[0].media_url}" do %>
            <%= image_tag tweet.media[0].media_url %>
          <% end %>
        </p>
      <% end %>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <hr>
    </div>
  </div>
<% end %>
