<%= render partial: "layouts/page_title", 
       locals: {title: "About",
                backlink: home_path } %>
<div class="row">
  <div class="col-sm-7">
    <p class="bg-warning">
      <font color="red">&nbsp;You are currently looking at a <em>beta</em> 
                        release of the new website.
      </font> 
      Apologies for the inconvenience, but for now expect some (= lots of) 
      bugs & mistakes!
    </p>
    <h4>Mission</h4>
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Collate available research</strong> focusing on the 
        mesophotic depth zone, and make it accessible through a 
        single webportal.
      </li>
      <li class="list-group-item">
        Allow for the <strong>identification of knowledge gaps</strong> 
        around particular taxa and geographic areas at mesophotic depths
      </li>
      <li class="list-group-item">
        Provide a central place on the web for the <strong>exchange of 
        scientific information and ongoing research efforts</strong>
      </li>
      <li class="list-group-item">
        Act as an <strong>independent platform and shared resource</strong> for
        and by the mesophotic research community.
      </li>
    </ul>
    <h4>Metadata</h4>
    <p>
      The primary entities in the database are scientific publications, for 
      which standard citation data and the full-text contents are indexed. In 
      addition, the following metadata are manually curated (and validated by 
      at least 3 editorial members):
    </p>
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Mesophotic</strong>:
        <code>true</code> / <code>false</code>.
        Indicates whether the publications presents data from, or presents a discussion on, the mesophotic depth range (<code>true</code>), or whether it is focused on another depth range (e.g. shallow or deep-sea) but relevant to mesophotic studies (<code>false</code>), and therefore included in the database. The mesophotic depth range is defined to be from 30-150 m.
      </li>
        <li class="list-group-item">
        <strong>Mesophotic Coral Ecosystem (tropical & subtropical) </strong>:
        <code>true</code> / <code>false</code>.
        Indicates whether the publications presents data from, or presents a discussion on, a “mesophotic coral reef ecosystem (MCE)” as characterized by the following definition (altered from the Hinderstein et al. 2010 definition): “characterized by the presence of photosynthetically active corals, algae and associated communities at depths ranging from 30 to 150 m in tropical and subtropical regions” (<code>true</code>), or whether it is focused on an ecosystem that does not fall under this definition (<code>false</code>). The altered definition is to reflect the fact despite the “presence of light-dependent corals”, they are often a very small component of the overall ecosystem (particularly at lower mesophotic depths); additionally, while photosynthetically-active, the “dependence” on light may be debatable at lower mesophotic depths. Ecosystems that do not fall under this definition are those in Mediterranean and temperate systems (not subtropical/tropical), or azooxanthellate systems such as subtropical Oculina reefs (not a photosynthetically-active community).
      </li>
      <li class="list-group-item">
        <strong>Original data</strong>:
        <code>true</code> / <code>false</code>.
        Indicates whether the publication presents novel data (<code>true</code>) or instead represents a review or meta-analysis (<code>false</code>).
      </li>
      <li class="list-group-item">
        <strong>Reports new species</strong>:
        <code>true</code> / <code>false</code>.
        Indicates whether the publication includes the establishment of one or more new scientific names of species (<code>true</code>). Publications reporting on new species without establishing new scientific names for them are not included (e.g. undescribed, cryptic lineages discovered in a phylogenetic study) (<code>false</code>).
      </li>
      <li class="list-group-item">
        <strong>Minimum depth</strong>:
        <code>integer</code> (in meters).
        “The lesser depth of a range of depth below the local surface, in meters” (<em>sensu</em> DarwinCore). More specifically, this indicates the depth (in meters) of the shallowest data record (e.g. specimen or transect) in the presented dataset or meta-analysis (using normal rounding to obtain integer). Only given for publications that present "Original data". Personal observations mentioned in the publication are not included.
      </li>
      <li class="list-group-item">
        <strong>Maximum depth</strong>:
        <code>integer</code> (in meters).
        “The greater depth of a range of depth below the local surface, in meters” (<em>sensu</em> DarwinCore). More specifically, this indicates the depth (in meters) of the deepest data record (e.g. specimen or transect) in the presented dataset or meta-analysis (using normal rounding to obtain integer). Only given for publications that present "Original data". Personal observations mentioned in the publication are not included.
      </li>
      <li class="list-group-item">
        <strong>Latitude</strong>:
        <code>integer</code> (in meters).
        “The geographic latitude (in decimal degrees, using the spatial reference system given in geodeticDatum) of the geographic center of a Location. Positive values are north of the Equator, negative values are south of it. Legal values lie between -90 and 90, inclusive” (<em>sensu</em> DarwinCore).
      </li>
      <li class="list-group-item">
        <strong>Longitude</strong>:
        <code>integer</code> (in meters).
        “The geographic longitude (in decimal degrees, using the spatial reference system given in geodeticDatum) of the geographic center of a Location. Positive values are east of the Greenwich Meridian, negative values are west of it. Legal values lie between -180 and 180, inclusive.” (<em>sensu</em> DarwinCore).
      </li>
      <li class="list-group-item">
        <strong>Publication type</strong>:
        <code>Scientific</code> / <code>Technical</code> / <code>Popular</code>.
        Indicates whether the publication is scientific (peer-reviewed), technical (which can be either peer-reviewed or non-peer-reviewed) and popular.
      </li>
      <li class="list-group-item">
        <strong>Publication format</strong>:
        <code>Article</code> / <code>Review</code> / <code>Chapter</code> /
        <code>Book</code> / <code>Report</code> / <code>Thesis</code>.
        Indicates the format of the publication.
      </li>
      <li class="list-group-item">
          <strong>Platform</strong>:
          <code>categorical</code>.
          Indicates the platform(s) used to collect the presented data. Only 
          given for publications that present `<em>Original data</em>`.
          <%= render partial: 'shared/list_categories', 
                     locals: { category_name: 'platform',
                               categories: @platforms } %>
      </li>
      <li class="list-group-item">
          <strong>Research field</strong>:
          <code>categorical</code>.
          Indicates the research field(s) the publication can be categorized
          under.
          <%= render partial: 'shared/list_categories', 
                     locals: { category_name: 'fields',
                               categories: @fields } %>
      </li>
      <li class="list-group-item">
          <strong>Focus taxon/taxa</strong>:
          <code>categorical</code>.
          Indicates the focal taxon/taxa of the publication.
          <%= render partial: 'shared/list_categories', 
                     locals: { category_name: 'focusgroups',
                               categories: @focusgroups } %>
      </li>
      <li class="list-group-item">
          <strong>Geographic location</strong>:
          <code>categorical</code>.
          Indicates the geographic location the publication focuses on.
          <%= render partial: 'shared/list_categories', 
                     locals: { category_name: 'locations',
                               categories: @locations } %>
      </li>
    </ul>
    <h4>Release history</h4>
    <ul class="list-group">
      <li class="list-group-item">
        <p>
          <strong>2016-now: The second (latest) release</strong>:
          A beta version of the new mesophotic.org went on-line
          in June 2016, coinciding with the 13th International Coral Reef 
          Symposium in Hawai'i (USA). This new version is backed by a 
          relational database that contains extensive metadata on all of 
          the listed publications, and offers searching across the full 
          contents of the indexed publications. 
        </p>
      </li>
      <li class="list-group-item">
        <p>
          <strong>2012-2016: Wordpress & social media</strong>:
          Over the past several years, a simplified semi-static (Wordpress) 
          version with just news items and a list of publications/abstracts 
          replaced the original (databases-backed) website. Admittedly only as
          a temporary solution, however due to a lack of time a new back-end 
          was not developed until 2016. Instead, there was an increased focus 
          on using social media (Facebook and Twitter) to communicate news 
          around mesophotic coral ecosystems.
        </p>
      </li>
      <li class="list-group-item">
        <p>
          <strong>2008-2011: The original release</strong>:
          The mesophotic.org website officially went on-line in 2008 when it 
          was first announced at the 11th International Coral Reef Symposium in
          Ft. Lauderdale (Florida / USA) and the International Collaborative 
          Workshop to Prioritize Research and Management Needs for Mesophotic 
          Coral Ecosystems in Jupiter (Florida / USA). The original website was
          started by Pim Bongaerts (The University of Queensland), with support
          from Felix Martinez and Lara Hinderstein (National Oceanic 
          Atmospheric Administration - Center for Sponsored Coastal Ocean 
          Research). Over these initial years, the website received small 
          grants from the Center for Sponsored Coastal Ocean Research 
          (CSCOR/NOAA), the Perry Institute for Marine Science (PIMS), the 
          University of Puerto Rico at Mayagüez (UPR) and the Pacific Blue 
          Foundation. The website eventually went down due to being hacked 
          (and admittedly not the most secure PHP coding practises).
        </p>
      </li>
    </ul>
  </div>
  <div class="col-sm-1">
    &nbsp;
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Current contributors</strong></div>
      <div class="panel-body">
        <%= render partial: 'contributor', 
                   locals: { first_name: "Pim", 
                             last_name: "Bongaerts", 
                             role: "Website development" } %>
        <%= render partial: 'contributor', 
                   locals: { first_name: "Ryan", 
                             last_name: "Booker", 
                             role: "Website development" } %>
        <% User.where(editor: true).each do |editor| %>
          <%= render partial: 'contributor', 
                     locals: { first_name: editor.first_name, 
                               last_name: editor.last_name,
                               role: "Content Editor" } %>
        <% end %>

        <p class="bg-info">&nbsp;
          <em>Are you interested in helping out?</em> Let us know!
        </p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Past contributors</strong></div>
      <div class="panel-body">
        <%= render partial: 'contributor', 
                   locals: { first_name: "Felix", 
                   last_name: "Martinez", 
                   role: "Editorial board" } %>
        <%= render partial: 'contributor', 
                   locals: { first_name: "Norbert", 
                             last_name: "Englebert",
                             role: "Data curation" } %>
      </div>
    </div>    
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Source code</strong>
      </div>
      <div class="panel-body">
        This web application was written in 
        <a href="https://www.ruby-lang.org/en/">Ruby (2.5.0)</a> on 
        <a href="http://rubyonrails.org/">Rails (5.1.4)</a>, with the code 
        publicly available on  
        <a href="https://github.com/pimbongaerts/mesophotic">GitHub</a>.
      </div>
    </div>
     <div class="panel panel-default">
        <div class="panel-heading"><strong>Contact</strong></div>
        <div class="panel-body">
          For any questions, please contact us at: info[at]mesophotic.org
        </div>
      </div>
    </div>
  </div>
</div>
