<%= render partial: "layouts/home_title" %>

<div class="card">
  <div class="card-body background_image d-flex align-items-center justify-content-center p-0">
    <div style="width: 100%; max-width: 700px; height: 300px;">
      <%= render_async world_map_path(key: "pages_home", model: Location, ids: @locations.map(&:id).join(','), height: 300, backgroundcolor: '#FCFFC5') %>
    </div>
  </div>
</div>


<!-- Latest news -->
<h5 class="mt-5"><strong>Latest posts</strong></h5>
<div class="row mb-4">
  <%= render partial: 'shared/post_summary_small', collection: @posts, as: :post %>
</div>

<!-- Latest publications -->
<div class="row">
  <div class="col-sm-7">
    <div class="card">
      <div class="card-header"><strong>Latest publications</strong></div>
      <div class="card-body">
        <%= render partial: 'newsfeed',
                   locals: { publications: @publications } %>
      </div>
    </div>
  </div>

  <div class="col-sm-5">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <strong><span style="color: #595aff;">#Mesophotic</span> on Mastodon</strong>
        <%= image_tag "mastodon_logo.png", size: "16x16", style: "vertical-align: middle;" %>
      </div>
      <div class="card-body">
        <% cache "mastodon_feed", expires_in: 1.hour do %>
          <% statuses = (StatusFeed.new "https://mastodon.social/tags/mesophotic.rss").take(10) %>
          <% users = User.where(twitter: statuses.map(&:username)) %>
          <%= render partial: 'status', locals: { users: users }, collection: statuses, as: :status %>
        <% end %>
      </div>
      <div class="card-footer text-muted" style="font-size: 0.85em;">
        Use the <strong>#mesophotic</strong> hashtag to contribute
      </div>
    </div>
  </div>
</div>
