<%= render partial: "layouts/home_title" %>

<div class="panel panel-default">
  <div class="panel-body  background_image" align="center">
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-sm-1">&nbsp;</div>
      <div class="col-sm-7" style="height: 300px; border: 5px">
        <%= render_async world_map_path(key: "pages_home", model: Location, ids: @locations.map(&:id).join(','), height: 300, backgroundcolor: '#FCFFC5') %>
      </div>
      <div class="col-sm-4">&nbsp;</div>
    </div>
    <div class="row">&nbsp;</div>
  </div>
</div>


<!-- Latest news -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Latest posts</strong></div>
      <div class="panel-body">
        <div class="row">
          <%= render partial: 'shared/post_summary_small', collection: @posts, as: :post %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Latest publications -->
<div class="row">
  <div class="col-sm-7">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Latest publications</strong></div>
      <div class="panel-body">
        <%= render partial: 'newsfeed',
                   locals: { publications: @publications } %>
      </div>
    </div>
  </div>

  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><code>#Mesophotic</code> on Mastodon</strong>
        <%= image_tag "mastodon_logo.png", size: "18x18", style: "float: right" %>
      </div>
      <div class="panel-body">
        <% cache "mastodon_feed", expires_in: 1.hour do %>
          <% statuses = (StatusFeed.new "https://mastodon.social/tags/mesophotic.rss").take(5) %>
          <% users = User.where(twitter: statuses.map(&:username)) %>
          <%= render partial: 'status', locals: { users: users }, collection: statuses, as: :status %>
        <% end %>
      </div>
      <div class="panel-footer">
        Use the <code>#mesophotic</code> hashtag to contribute
      </div>
    </div>
  </div>
</div>
