<%= render partial: "layouts/page_title",
       locals: {title: "People",
                backlink: root_path } %>

<div class="row">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header">
        <small class="text-muted">
          <%= @users.count %> people from the publications and member list.
        </small>
      </div>
      <div class="card-body p-0">
        <%= render partial: 'memberlist', locals: { users: @users } %>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header"><strong>Featured Profile</strong></div>
      <div class="card-body">
        <%= render partial: 'featured_member' %>
      </div>
    </div>

    <div class="card">
      <div class="card-header"><strong>Recently Updated</strong></div>
      <div class="card-body">
        <%= render partial: 'latest_members' %>
      </div>
    </div>

    <div class="card">
      <div class="card-header"><strong>People Locations</strong></div>
      <div class="card-body p-1">
        <% data = count_geographic_occurrences_of_users(@users) %>
        <%= render partial: 'shared/world_map', locals: { title: 'Sites',
                                                          data: data,
                                                          height: 200 } %>
      </div>
    </div>

    <div class="card">
      <div class="card-header"><strong>Growth of Mesophotic Community</strong></div>
      <div class="card-body p-1">
        <% cats, occurs = count_first_authors_over_time(@publications, Time.new.year - 1) %>
        <%= render partial: 'shared/area_graph',
                   locals: { title: 'Publications',
                             categories: cats,
                             occurrences: occurs,
                             height: 200,
                             unit: "Unique first-authors" } %>
      </div>
    </div>
  </div>
</div>
