<%= render partial: "layouts/page_title",
       locals: {title: "People",
                breadcrumbs: [["People", nil]] } %>

<div class="row">
  <div class="col-sm-8">
    <%= paginate @users %>
    <div class="mb-3" style="margin-top: -0.5rem;">
      <small class="text-muted"><%= page_entries_info @users %></small>
    </div>
    <div class="card">
      <div class="card-header">
        <small class="text-muted">
          <%= @users.total_count %> people from the publications and member list.
        </small>
      </div>
      <div class="card-body p-0">
        <% cache ["members_list", params[:page], User.maximum(:updated_at).to_i, Publication.maximum(:updated_at).to_i] do %>
          <%= render partial: 'memberlist', locals: { users: @users } %>
        <% end %>
      </div>
    </div>
    <div class="mt-2 mb-2">
      <small class="text-muted"><%= page_entries_info @users %></small>
    </div>
    <%= paginate @users %>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header"><strong>Featured Profile</strong></div>
      <div class="card-body">
        <%= render partial: 'featured_member' %>
      </div>
    </div>

    <div class="card">
      <div class="card-header"><strong>Recently Updated</strong></div>
      <div class="card-body">
        <% cache ["latest_members", User.maximum(:updated_at).to_i] do %>
          <%= render partial: 'latest_members' %>
        <% end %>
      </div>
    </div>

    <% cache ["people_map_card", User.maximum(:updated_at).to_i] do %>
    <div class="card">
      <div class="card-header"><strong>People Locations</strong></div>
      <div class="card-body p-1">
        <%= render partial: 'shared/world_map', locals: { title: 'Sites',
                                                          data: @people_map_data,
                                                          height: 200 } %>
      </div>
    </div>
    <% end %>

    <% cache ["author_growth_card", Publication.maximum(:updated_at).to_i] do %>
    <div class="card">
      <div class="card-header"><strong>Growth of Mesophotic Community</strong></div>
      <div class="card-body p-1">
        <%= render partial: 'shared/area_graph',
                   locals: { title: 'Publications',
                             categories: @author_growth[0],
                             occurrences: @author_growth[1],
                             height: 200,
                             unit: "Unique first-authors" } %>
      </div>
    </div>
    <% end %>
  </div>
</div>
