<%= render partial: "layouts/page_title",
       locals: {title: "Behind the Science",
                backlink: home_path } %>


<div class="row">
  <div class="col-sm-9">
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-sm-5">
          <% if post.post_type == "behind_the_science" %> 
            <%= render partial: 'shared/behind_the_scenes',
                       locals: {post: post,
                                style: 'overview'} %>
          <% end %><br><br>
        </div>
        <div class="col-sm-7">
          <h4><%= link_to "#{post.title}", post_path(post.slug) %></h4>
            <small><i class="fa fa-calendar"></i>&nbsp;&nbsp;
            <%= post.created_at.strftime("%Y, %B %-d") %>
            - posted by
            <%= link_to "#{post.user.first_name} #{post.user.last_name}",
                                member_path(post.user) %></small>
            <br><br>
            <% if post.featured_user.present? %>
              An interview with
              <%= link_to "#{post.featured_user.first_name} #{post.featured_user.last_name}", member_path(post.featured_user) %>
              about
              "<%= post.featured_publication.title %>".
            <% end %>
        </div>
      </div>

    <% end %>
  </div>
  <div class="col-sm-3">

  </div>
</div>
