<%= render partial: "layouts/page_title",
       locals: {title: "People",
                subtitle: "#{@user.first_name} #{@user.last_name}",
                backlink: members_pages_path } %>


<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-body" style="background: #CCCCCC;">
        <div class="col-sm-4">
          <% if @user.profile_picture.attached? %>
            <%= image_tag @user.profile_picture.variant(resize: "200x200>") %>
          <% else %>
            <%= image_tag "/images/medium/missing.png" %>
          <% end %>
        </div>
        <div class="col-sm-6">
          <h2><%= @user.first_name %> <%= @user.last_name %></h2>
          <address>
            <%= render partial: 'contact_details',
                       locals: { user: @user } %>
          </address>
        </div>
        <div class="col-sm-2" align="right">
          <%= render partial: 'contact_links',
                       locals: { user: @user } %>
        </div>
      </div>
    </div>

    <% if @user.research_interests %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Research interests</strong></div>
        <div class="panel-body">
          <% if @user.last_sign_in_at.nil? %>
            <p class="bg-warning">&nbsp;
              Please note that this section was automatically populated - and
              has not yet been edited by this user.
            </p>
          <% end %>
          <%= markdown(@user.research_interests) if @user.research_interests.present? %>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading"><strong>Publications</strong></div>
      <div class="panel-body">
        <% if @user.publications.count > 0 %>
          <p class="bg-info">&nbsp;
            Please note that only publications relevant to mesophotic reefs
            are indexed.
          </p>
          <table class="table table-striped">
            <% @user.publications.each do |publication| %>
              <%= render publication %>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-4">

    <% if @user.publications.count > 0 %>
      <div class="panel panel-default">
        <div class="panel-body">
          <% data = count_geographic_occurrences_of_publications_from_user(@user) %>
          <%= render partial: 'shared/world_map', locals: { title: 'Locations',
                                                            data: data,
                                                            height: 200 } %>
        </div>
      </div>
    <% end %>

    <% if @user.publications.count > 0 %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Research keywords</strong>
        </div>
        <div class="panel-body" align="center" valign="center">
          <%= render_async member_keywords_path(id: @user.id) %>
        </div>
      </div>
    <% end %>

    <% if @user.platforms.count > 0 %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Research platform experience</strong>
        </div>
        <div class="panel-body">
        <% @user.platforms.each do |platform| %>
           <span class="glyphicon glyphicon-ok"></span>&nbsp;
          <%= platform.description %><br>
        <% end %>
        </div>
      </div>
    <% end %>

    <% if @user.photos.count > 0 %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Photographs</strong> (of <%=@user.full_name_normal %>)
        </div>
        <div class="panel-body">
        <% @user.photos.each do |photo| %>
          <%= link_to image_tag(photo.image.variant(resize: "340x227^", crop: "340x227+0+0")),
                      photo_path(photo) %><br>
        <% end %>
        </div>
      </div>
    <% end %>

    <% if @user.publications.count > 0 %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Research summary</strong> (from publications)
        </div>
        <div class="panel-body">
          <%= render_async member_research_summary_path(id: @user.id) %>
        </div>
      </div>
    <% end %>

  </div>
</div>
