<%= render partial: "layouts/page_title",
       locals: {title: "Stats",
                subtitle: "Latest update: #{@latest_update.to_date}",
                backlink: root_path } %>
<div class="row">
  <div class="col-sm-12">
    (across <%= @publications.count %> scientific articles
     presenting original data from mesophotic depths)
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>
          A rapidly growing research field
        </strong>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <center><h4>The deeper we go, the less we know</h4></center>
            <% categories, occurrences = get_depth_range_data(@publications) %>
            <%= render partial: 'shared/depth_graph',
                       locals: { title: 'Depth', categories: categories,
                                 occurrences: occurrences, unit: "Publications",
                                 height: 300 } %>
            <p>
              Fig. 1a: <b>Number of publications over depth</b><br>
              <small>
                Depth ranges for each paper are taken as the entire range between
                the minimum and maximum depth
                (<%= link_to 'definitions', about_pages_path %>).
              </small>
            </p>
          </div>
          <div class="col-sm-6">
            <center><h4>
              Literature increased <code>3.4</code>x fold over past 10 years
            </h4></center>
            <% cats, occurs = count_publications_over_time(@publications.group(:publication_year).count) %>
            <%= render partial: 'shared/area_graph', 
                       locals: { title: 'Publications',
                       categories: cats,
                       occurrences: occurs,
                       height: 300,
                       unit: "Publications" } %>
            <p>
              Fig. 1b: <b>Number of publicatons over time</b><br>
              <small>
                The cumulative number of publications is calculated for each year. Fold-increase calculated for 2017 vs 2007.
              </small>
          </div>
        </div>

        <div class="row"><br><br></div>

        <div class="row">
          <div class="col-sm-6">
            <center><h4>
              Steady increase in geographic scope
            </h4></center>
            <% cats, occurs = count_locations_over_time(@publications) %>
            <%= render partial: 'shared/area_graph',
                       locals: { title: 'locations_time',
                                 categories: cats,
                                 occurrences: occurs,
                                 height: 200,
                                 unit: "Studied locations" } %>
            <p>
              Fig. 3a: <b>Number of studied locations over time</b><br>
              <small>
                Cumulative number of locations studied for each year, to demonstrate the gradual geographic expansion of our knowledge
                on mesophotic coral ecosystems.
              </small>
            </p>
          </div>
          <div class="col-sm-6">
            <center><h4>
              Community increased <code>5.x</code> since 10 years ago
            </h4></center>
            <% cats, occurs = count_first_authors_over_time(@publications) %>
            <%= render partial: 'shared/area_graph',
                       locals: { title: 'authors_time',
                                 categories: cats,
                                 occurrences: occurs,
                                 height: 200,
                                 unit: "Unique first-authors" } %>
            <p>
              Fig. 3b: <b>Number of unique first-authors in publications over time</b><br>
              <small>
                Number of unique first-authors for each year, to demonstrate the
                change of the mesophotic research community over time.
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>
          Our knowledge on mesophotic coral ecosystems summarized
          <small>
            (across <%= @publications.count %> scientific articles
             presenting original data from mesophotic depths)
          </small>
        </strong></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <center><h4>
              Biodiversity, community structure and ecology
            </h4></center>
            <%= render partial: 'shared/stats_bar_graph',
                       locals: { title: 'Fields_bar_graph',
                                 data: format_for_chart(
                                          @fields,
                                          @fields_top),
                                 height: 300, unit: 'Publications' } %>
            <p>
              Fig. 2a: <b>Research fields (top 10)</b><br>
            </p>
          </div>
          <div class="col-sm-6">
            <center><h4>
              Scleractinian corals, fishes and benthos
            </h4></center>
            <%= render partial: 'shared/stats_bar_graph',
                       locals: { title: 'Focusgroups_bar_graph',
                                 data: format_for_chart(
                                          @focusgroups,
                                          @focusgroups_top),
                                 height: 300, unit: 'Publications' } %>
            <p>
              Fig. 2c: <b>Focal taxa (top 10)</b><br>
            </p>
            <br><br>
            <center><h4>
              Diving, submersibles and ROVs
            </h4></center>
            <%= render partial: 'shared/stats_bar_graph',
                       locals: { title: 'Platforms_bar_graph',
                                 data: format_for_chart(
                                          @platforms,
                                          @platforms_top),
                                 height: 300, unit: 'Publications' } %>
            <p>
              Fig. 2d: <b>Research platform use (top 10)</b><br>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Our knowledge of mesophotic ecosystems across the world</strong>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <center><h4>
              Hawai'i, Israel, USVI and Puerto Rico
            </h4></center>
              <% data = count_geographic_occurrences_of_publications(@locations) %>
              <%= render partial: 'shared/world_map', locals: { title: 'Locations',
                                                            data: data,
                                                            height: 300 } %>
            <p>
              Fig. 3a: Number of publications across regions in the world<br>
              <small>

              </small>
            </p>
          </div>
          <div class="col-sm-6">
            <center><h4>
              Most studied: Hawai'i, Israel, USVI and Puerto Rico
            </h4></center>
            <%= render partial: 'shared/stats_bar_graph',
                       locals: { title: 'Locations_bar_graph',
                                 data: format_for_chart(
                                          @locations,
                                          @locations_top),
                                 height: 300, unit: 'Publications' } %>
            <p>
              Fig. 2b: <b>Locations (top 10)</b><br>
            </p>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-6">
            <% data = count_geographic_occurrences_of_users(@users) %>
            <%= render partial: 'shared/world_map', locals: { title: 'Sites',
                                                              data: data,
                                                              height: 200 } %>
            <p>
              Fig. 3b: Number of mesophotic researchers across countries <br>
              <small>
                Based on researchers listed on this website that have
                published in the past 10 years TODO.
              </small>
            </p>
          </div>
          <div class="col-sm-6">

          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><strong>Research interest over time</strong></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <% occurrences = {} %>
            <% categories, occurrences["referring to refuge"], occurrences["not referring to refuge"] =
            format_for_time_search_chart(@publications_refug_counts, @publications_total_counts)  %>
            <%= render partial: 'shared/column_graph_series',
                       locals: { title: 'search_refug', unit: "Publications",
                                 categories: categories,
                                 occurrences: occurrences,
                                 height: 300 } %>
            <p>
              Fig. 4a: References to refuge/refugium over time<br>
              <small>
                Number of publications at each time point, with and without at least one
                reference to <code>refug*</code> (so it includes 'refuge', 'refuges', 'refugium' and 'refugia') in the title, abstract or full-text (but excluding references).
              </small>
            </p>
          </div>
          <div class="col-sm-4">


          </div>
          <div class="col-sm-4">


          </div>
        </div>
      </div>
    </div>

  </div>
</div>
