<%= render partial: "layouts/page_title", 
       locals: {title: "Stats",
                subtitle: "Latest update: #{@latest_update.to_date}",
                backlink: home_path } %>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>
          Our knowledge across the mesophotic depth gradient
        </strong></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <% categories, occurrences = get_depth_range_data(@publications) %>
            <%= render partial: 'shared/depth_graph', 
                       locals: { title: 'Depth', categories: categories, 
                                 occurrences: occurrences, unit: "Publications",
                                 height: 400 } %>
            <p>
              Fig. 1a: Number of publications over depth<br>
              <small>
                Depth ranges for each paper are taken as the entire range between 
                the minimum and maximum depth
                (<%= link_to 'definitions', about_path %>).
              </small>
            </p>
          </div>
          <div class="col-sm-4">
            <%= render partial: 'shared/pie_graph', 
                       locals: { title: 'Platform3060',
                                 data: format_for_pie_chart(
                                          @platform_by_depth_group["30-60 m"],
                                          @platforms),
                                 height: 100, unit: 'Publications' } %>
            <%= render partial: 'shared/pie_graph', 
                       locals: { title: 'Platform6090',
                                 data: format_for_pie_chart(
                                          @platform_by_depth_group["60-90 m"],
                                          @platforms),
                                 height: 100, unit: 'Publications' } %>
            <%= render partial: 'shared/pie_graph', 
                       locals: { title: 'Platform90120',
                                 data: format_for_pie_chart(
                                          @platform_by_depth_group["90-120 m"],
                                          @platforms),
                                 height: 100, unit: 'Publications' } %>
            <%= render partial: 'shared/pie_graph', 
                       locals: { title: 'Platform120150',
                                 data: format_for_pie_chart(
                                          @platform_by_depth_group["120-150 m"],
                                          @platforms),
                                 height: 100, unit: 'Publications' } %>
            <p>
              Fig. 1b: Research platform use over depth<br>
              <small>
                When a paper uses multiple platforms,
                each platform is assumed to be used over the entire depth range 
                (as no information is usually available on further partitioning)
                (<%= link_to 'definitions', about_path %>).
              </small>
            </p>
          </div>
          <div class="col-sm-4">
            <%= render partial: 'shared/pie_graph', 
                       locals: { title: 'Focusgroup3060',
                                 data: format_for_pie_chart(
                                          @focusgroup_by_depth_group["30-60 m"],
                                          @focusgroups),
                                 height: 100, unit: 'Publications' } %>
            <%= render partial: 'shared/pie_graph', 
                       locals: { title: 'Focusgroup6090',
                                 data: format_for_pie_chart(
                                          @focusgroup_by_depth_group["60-90 m"],
                                          @focusgroups),
                                 height: 100, unit: 'Publications' } %>
            <%= render partial: 'shared/pie_graph', 
                       locals: { title: 'Focusgroup90120',
                                 data: format_for_pie_chart(
                                          @focusgroup_by_depth_group["90-120 m"],
                                          @focusgroups),
                                 height: 100, unit: 'Publications' } %>
            <%= render partial: 'shared/pie_graph', 
                       locals: { title: 'Focusgroup120150',
                                 data: format_for_pie_chart(
                                          @focusgroup_by_depth_group["120-150 m"],
                                          @focusgroups),
                                 height: 100, unit: 'Publications' } %>
            <p>
              Fig. 1c: Focal taxa over depth<br>
              <small>
                When a paper focuses on multiple taxa, each taxa is assumed to be 
                studied over the entire depth range 
                (as no information is usually available on further partitioning)
                (<%= link_to 'definitions', about_path %>).
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><strong>A growing research field and community</strong></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <% categories, occurrences = count_publications_over_time(@publications.group(:publication_year).count) %>
            <%= render partial: 'shared/area_graph', locals: { title: 'Publications',
                                                               categories: categories, 
                                                               occurrences: occurrences,
                                                               height: 200,
                                                               unit: "Publications"  } %>
            <p>
              Fig. 2a: Number of publicatons over time<br>
              <small>
                The cumulative number of publications is calculated for each year.
              </small>
            </p>
          </div>
          <div class="col-sm-4">
            <% cats, occurs = count_first_authors_over_time(@publications) %>
            <%= render partial: 'shared/area_graph', 
                       locals: { title: 'authors',
                                 categories: cats, 
                                 occurrences: occurs,
                                 height: 200,
                                 unit: "Unique first-authors" } %>
            <p>
              Fig. 2b: Number of unique first-authors in publications over time<br>
              <small>
                Number of unique first-authors for each year, to demonstrate the
                change of the mesophotic research community over time.
              </small>
            </p>
          </div>
          <div class="col-sm-4">
            <% data = count_geographic_occurrences_of_users(@users) %>
            <%= render partial: 'shared/world_map', locals: { title: 'Sites',
                                                              data: data,
                                                              height: 200 } %>
            <p>
              Fig. 2c: Number of mesophotic researchers across countries <br>
              <small>
                Based on researchers listed on this website that have
                published in the past 10 years TODO.
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Our knowledge of mesophotic ecosystems across the world</strong>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
              <% data = count_geographic_occurrences_of_publications(@locations) %>
              <%= render partial: 'shared/world_map', locals: { title: 'Locations',
                                                            data: data,
                                                            height: 200 } %>
            <p>
              Fig. 3a: Number of publications across regions in the world<br>
              <small>
                
              </small>
            </p>
          </div>
          <div class="col-sm-6">
            <p>
              Fig. 3b: Research platform used across regions in the world<br>
              <small>
                When a paper uses multiple platforms, each platform is assumed to be 
                used at each of study locations
                (as no information is usually available on further partitioning).
              </small>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
              <% data = count_geographic_occurrences_of_publications(@locations) %>
              <%= render partial: 'shared/world_map', locals: { title: 'Locations',
                                                            data: data,
                                                            height: 200 } %>
            <p>
              Fig. 3c: Research fields in publications across regions in the world<br>
              <small>

              </small>
            </p>
          </div>
          <div class="col-sm-6">
            <p>
              Fig. 3d: Focal taxa in publications across regions in the world<br>
              <small>
                When a paper focuses on multiple taxa, each taxa is assumed to be 
                studied at each of study locations
                (as no information is usually available on further partitioning).
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><strong>Research interest over time</strong></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <% occurrences = {} %>
            <% categories, occurrences["referring to refuge"], occurrences["not referring to refuge"] =
            format_for_time_search_chart(@publications_refug_counts, @publications_total_counts)  %>
            <%= render partial: 'shared/column_graph_series', 
                       locals: { title: 'search_refug', unit: "Publications",
                                 categories: categories,
                                 occurrences: occurrences,
                                 height: 300 } %>
            <p>
              Fig. 4a: References to refuge/refugium over time<br>
              <small>
                Number of publications at each time point, with and without at least one
                reference to <code>refug*</code> (so it includes 'refuge', 'refuges', 'refugium' and 'refugia') in the title, abstract or full-text (but excluding references).
              </small>
            </p>
          </div>
          <div class="col-sm-4">


          </div>
          <div class="col-sm-4">


          </div>
        </div>
      </div>
    </div>

  </div>
</div>