<%= render partial: "layouts/page_title",
           locals: {
             title: title,
       	     subtitle: subtitle,
             backlink: root_path
           } %>

<div class="row">
  <div class="col-sm-8">

    <div class="panel panel-default">
      <%= render partial: "#{title.downcase}/dropdown_body", locals: { object: object } if lookup_context.template_exists? "dropdown_body", title.downcase, true %>
      <div class="panel-footer">
        <%= render partial: 'dropdown',
                   locals: { objects: objects, object: object, model: title.downcase } %>
      </div>
		</div>

    <div class="panel panel-default">
      <div class="panel-body">
        <%= paginate publications %>[<%= publications.total_count %> results] &bullet; <%= link_to "Download as CSV", summary_path(title.downcase, object.id, format: :csv) %>
        <br><br>

	      <table class="table table-striped">
				  <% publications.includes(:users, :journal).order('publication_year DESC, created_at DESC').each do |publication| %>
				    <%= render publication %>
				  <% end %>
				</table>
        <%= paginate publications %>[<%= publications.total_count %> results] &bullet; <%= link_to "Download as CSV", summary_path(title.downcase, object.id, format: :csv) %>
			</div>
		</div>
	</div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Research keywords</strong>
      </div>
      <div class="panel-body">
         <%= render_async summary_keywords_path(model: title.downcase, id: object.id) %>
      </div>
    </div>

    <% if @publications.count > 0 %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Researchers</strong> (that published on this location)
        </div>
        <div class="panel-body">
          <%= render_async summary_researchers_path(model: title.downcase, id: object.id) %>
        </div>
      </div>
    <% end %>

    <% if object.try(:photos) && object.photos.showcases_location.count > 0 %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Photographs</strong> (from the field)
        </div>
        <div class="panel-body">
        <% object.photos.showcases_location.each do |photo| %>
          <%= link_to image_tag(photo.image.variant(resize: "340x227^", crop: "340x227+0+0")),
                      photo_path(photo) %><br>
        <% end %>
        </div>
      </div>
    <% end %>

    <% if publications.count > 0 %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Publication summary</strong> (top 5 / category)
        </div>
        <div class="panel-body">
          <%= render_async summary_publications_path(model: title.downcase, id: object.id) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
