<% title = "#{@object.class.name.pluralize}" %>
<%= render partial: "layouts/page_title",
           locals: {
             title: title,
       	     subtitle: @object.description,
             backlink: home_path
           } %>

<div class="row">
  <div class="col-sm-8">

    <div class="panel panel-default">
      <%= render partial: "#{partial}/dropdown_body", locals: { object: @object } if lookup_context.template_exists? "dropdown_body", title.downcase, true %>
      <div class="panel-footer">
        <%= render partial: 'dropdown',
                   locals: { objects: @objects, object: @object, model: title.downcase } %>
      </div>
		</div>


    <div class="panel panel-default">
      <div class="panel-body">
	      <table class="table table-striped">
				  <% @object.publications.original.order('publication_year DESC, created_at DESC').each do |publication| %>
				    <%= render publication %>
				  <% end %>
				</table>
			</div>
		</div>
	</div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Research keywords</strong>
      </div>
      <div class="panel-body">
        <%= render partial: 'shared/wordcloud',
                   locals: { title: 'location_publication_contents',
                   data: overall_publication_contents(@object.publications),
                   cut_off: 40, width: 400, height: 200 } %>
			</div>
		</div>

    <% if @object.publications.count > 0 %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Researchers</strong> (that published on this location)
        </div>
        <div class="panel-body">
          <%= render partial: 'shared/publication_authors',
                     locals: { publication_authors: @object.publications } %>
        </div>
      </div>
    <% end %>

    <% if @object.try(:photos) && @object.photos.showcases_location.count > 0 %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Photographs</strong> (from the field)
        </div>
        <div class="panel-body">
        <% @object.photos.showcases_location.each do |photo| %>
          <%= link_to image_tag(photo.image(:compo)),
                      photo_path(photo) %><br>
        <% end %>
        </div>
      </div>
    <% end %>

    <% if @object.publications.count > 0 %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Publication summary</strong> (top 5 / category)
        </div>
        <div class="panel-body">
          <%= render partial: 'keywords',
                     locals: { publications: @object.publications } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
