<p id="notice"><%= notice %></p>

<h1>Listing Expeditions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expeditions.each do |expedition| %>
      <tr>
        <td><%= image_tag url_for(expedition.featured_image) %></td>
        <td><%= expedition.title %></td>
        <td><%= expedition.description %></td>
        <td><%= expedition.year %></td>
        <td><%= expedition.start_date %></td>
        <td><%= expedition.end_date %></td>
        <td><%= expedition.url %></td>
        <td><%= link_to 'Show', expedition %></td>
        <td><%= link_to 'Edit', edit_expedition_path(expedition) %></td>
        <td><%= link_to 'Destroy', expedition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expedition', new_expedition_path %>
