<div class="mb-3">
  <strong>Tags</strong><br>
  <% if @photo.contains_species %>
    <span class="badge border border-secondary text-secondary">Contains species</span>
  <% end %>
  <% if @photo.underwater %>
    <span class="badge border border-secondary text-secondary">Underwater</span>
  <% else %>
    <span class="badge border border-secondary text-secondary">Surface</span>
  <% end %>
  <% @photo.platforms.each do |platform| %>
    <span class="badge border border-secondary text-secondary"><%= platform.description %></span>
  <% end %>
</div>

<% if @photo.underwater? %>
  <div class="mb-3">
    <strong>Depth</strong><br>
    <%= @photo.depth %> m
  </div>
<% end %>

<% if @photo.location %>
  <div class="mb-3">
    <strong>Location</strong><br>
    <%= link_to @photo.location.description, location_path(@photo.location) %>
  </div>
<% end %>

<% if @photo.site %>
  <div class="mb-3">
    <strong>Site</strong><br>
    <%= link_to @photo.site.site_name, site_path(@photo.site) %>
  </div>
<% end %>

<% if @photo.expedition %>
  <div class="mb-3">
    <strong>Expedition</strong><br>
    <%= link_to @photo.expedition.title, expedition_path(@photo.expedition) %>
  </div>
<% end %>

<% if @photo.meeting %>
  <div class="mb-3">
    <strong>Meeting</strong><br>
    <%= link_to @photo.meeting.title, meeting_path(@photo.meeting) %>
  </div>
<% end %>

<% if @photo.post %>
  <div class="mb-3">
    <strong>Post</strong><br>
    <%= link_to @photo.post.title, post_pages_path(@photo.post.slug) %>
  </div>
<% end %>

<% if @photo.publication %>
  <div class="mb-3">
    <strong>Publication</strong><br>
    <%= link_to @photo.publication.short_citation_with_title, publication_path(@photo.publication) %>
  </div>
<% end %>

<% if @photo.organisations.count > 0 %>
  <div class="mb-3">
    <strong>Organisations</strong><br>
    <% @photo.organisations.each do |organisation| %>
      <%= organisation.name %><br>
    <% end %>
  </div>
<% end %>

<% if @photo.users.count > 0 %>
  <div class="mb-3">
    <strong>Researchers</strong><br>
    <% @photo.users.each do |user| %>
      <%= link_to user.full_name, member_pages_path(user) %><br>
    <% end %>
  </div>
<% end %>

<div class="mb-0">
  <strong>Uploaded</strong><br>
  <small class="text-muted"><%= l @photo.image.created_at.to_date, format: :long %></small>
</div>
