<% [Location].each do |model| %>
  <p>
    <strong><%= model.name.pluralize %></strong><br>
    <% table_name = model.table_name %>
    <% cats = model.joins(:photos)
                   .where("photos.id IN (?)", photos.map(&:id))
                   .select("#{table_name}.description, #{table_name}.id, count(#{table_name}.id) AS count")
                   .group("#{table_name}.id")
                   .order("count DESC")
                   .limit(5) %>
    <%= render partial: 'shared/category_counts', collection: cats, as: :category %>
  </p>
<% end %>

<p>
  <strong>Tagged Platforms</strong><br>
  <% cats = Platform.joins(:photos)
                    .where("photos.id IN (?)", photos.map(&:id))
                    .select("platforms.description, platforms.id, count(platforms.id) AS count")
                    .group("platforms.id")
                    .order("count DESC")
                    .limit(5) %>
  <%= render partial: 'shared/category_counts', collection: cats, as: :category %>
</p>

<p>
  <strong>Tagged Organisations</strong><br>
  <% Organisation.joins(:photos)
                 .where("photos.id IN (?)", photos.map(&:id))
                 .select("organisations.name, organisations.id, count(organisations.id) AS count")
                 .group("organisations.id")
                 .order("count DESC")
                 .limit(5).each do |organisation| %>
    <span class="badge">
      <%= organisation.count %>
    </span>&nbsp;<%= organisation.name %>
    <br>
  <% end %>
</p>

<p>
  <strong>Tagged Researchers</strong><br>
  <% User.joins(:photos)
         .where("photos.id IN (?)", photos.map(&:id))
         .select("users.last_name, users.id, count(users.id) AS count")
         .group("users.id")
         .order("count DESC")
         .limit(6).each do |member| %>
    <span class="badge">
      <%= member.count %>
    </span>&nbsp;<%= link_to member.last_name, member_pages_path(member) %>
    <br>
  <% end %>
</p>
