<%= render partial: "layouts/page_title",
       locals: {title: "Images",
                breadcrumbs: [["Images", nil]] } %>

<div class="row">
  <div class="col-sm-8">
	  <%= paginate @photos %>

	  <table class="table table-striped">
	    <tr>
		    <% @photos.each_with_index do |photo, i| %>
	        <%= new_table_row_on_iteration(i, 3) %>
	        <td><%= render photo %></td>
		    <% end %>
		   </tr>
	  </table>
    <%= paginate @photos %>

	  <% if current_user.try(:editor_or_admin?) %>
	  	<%= link_to "Upload new photo", new_photo_path %>
	  <% end %>
	</div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header"><strong>Image Locations</strong></div>
      <div class="card-body" align="center">
        <% data = format_counts_for_world_map(@location_counts) %>
        <%= render partial: 'shared/world_map', locals: { title: 'Locations',
                                                          data: data,
                                                          height: 150 } %>
      </div>
    </div>


    <div class="card">
      <div class="card-header">
        <strong>Images metadata summary</strong> (top 5 / category)
      </div>
      <div class="card-body">
        <%= render partial: 'shared/keyword',
                   locals: { objects: @photos },
                   collection: [Location, Platform] %>
        <%= render partial: 'shared/organisation_keyword',
                   locals: { objects: @photos } %>
        <%= render partial: 'shared/member_keyword',
                   locals: { title: "Researchers", objects: @photos } %>
      </div>
    </div>

  </div>
</div>
