<%= render partial: "layouts/page_title",
       locals: {title: "",
                page_title: "Images",
                breadcrumbs: [["Images", photos_path], [@photo.description_truncated, nil]] } %>

<div class="row">
  <div class="col-sm-8">

    <div class="card">
      <div class="card-body p-0 position-relative" style="background-color: #f0f1f3;">
        <%= image_tag @photo.image.variant(resize: "1024x768>"), style: "width: 100%; display: block;" %>
        <div class="position-absolute top-50 start-0 translate-middle-y ps-2">
          <%= link_to photo_path(@photo.previous), class: "text-white", style: "font-size: 1.5rem; text-shadow: 0 0 6px rgba(0,0,0,0.5);" do %>
            <i class="bi bi-chevron-left"></i>
          <% end %>
        </div>
        <div class="position-absolute top-50 end-0 translate-middle-y pe-2">
          <%= link_to photo_path(@photo.next), class: "text-white", style: "font-size: 1.5rem; text-shadow: 0 0 6px rgba(0,0,0,0.5);" do %>
            <i class="bi bi-chevron-right"></i>
          <% end %>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-between align-items-center">
        <div>
          <strong><%= @photo.description %></strong><br>
          <small class="text-muted">
            &copy; <%= @photo.credit %>
            <% if @photo.creative_commons %>
              &middot; <a href="https://creativecommons.org/licenses/by-nc/4.0/" class="text-muted">CC BY-NC 4.0</a>
            <% end %>
          </small>
        </div>
        <% if current_user.try(:editor_or_admin?) %>
          <div class="d-flex gap-2">
            <%= link_to edit_photo_path(@photo), class: "text-muted icon-btn" do %><i class="bi bi-pencil"></i><i class="bi bi-pencil-fill"></i><% end %>
            <%= link_to @photo, data: { turbo_method: :delete, turbo_confirm: "Are you certain you want to delete this photo?" }, class: "text-danger icon-btn" do %><i class="bi bi-trash"></i><i class="bi bi-trash-fill"></i><% end %>
          </div>
        <% end %>
      </div>
    </div>

  </div>

  <div class="col-sm-4">
    <% if @photo.has_place? %>
      <div class="card">
        <div class="card-header"><strong>Image Location</strong></div>
        <div class="card-body p-1" style="min-height: 150px;">
          <%= render_async world_map_path(key: "photos_show", model: Photo, ids: @photo.id, height: 150, z: 1) %>
        </div>
      </div>
    <% end %>

    <div class="card">
      <div class="card-header"><strong>Image Metadata</strong></div>
      <div class="card-body">
        <%= render partial: 'photo_metadata' %>
      </div>
    </div>
  </div>
</div>
