<tr>
  <td width="100px">
    <% if params[:search] %>
      <%= image_tag publication.pdf.url(:thumb), :width => "100" %>
    <% else %>
      <%= image_tag publication.pdf.url(:thumb) %>    
    <% end %>
  </td>
  <td width="300px">
    <strong><%= link_to publication.title_truncated, publication %></strong>
    <%= format_authors(publication) %>.&nbsp;
    <i><br>
    <% if not publication.journal.blank? %>
      <%= publication.journal.name %>
    <% elsif not publication.book_publisher.blank? %>
      <%= publication.book_publisher %>
    <% elsif publication.book_publisher %>
      <%= publication.book_publisher %>
    <% end %>
    </i>&nbsp;
    (<%= publication.publication_year %>)&nbsp;
    <% if publication.volume %>
      <b><%= publication.volume %></b>
    <% end %>
    <% if publication.pages %>
      <%= publication.pages %>
    <% end %>
  </td>
  <td>
		<strong>Fields</strong>:
	  <% for field in publication.fields %>
	    <span class="label label-success"><%= field.description %>
	  	<%= link_to "x", admin_publication_field_path(publication, field),
	  									 data: {:confirm => 'Are you sure?'}, 
	  									 :method => :delete %></span>
	  <% end %>
	  <br>
		<strong>Focusgroups</strong>:
	  <% for focusgroup in publication.focusgroups %>
	    <span class="label label-info"><%= focusgroup.description %>
	  	<%= link_to "x", admin_publication_focusgroup_path(publication, focusgroup),
	  									 data: {:confirm => 'Are you sure?'}, 
	  									 :method => :delete %></span>
	  <% end %><br>
		<strong>Platforms</strong>:
	  <% for platform in publication.platforms %>
	    <span class="label label-warning"><%= platform.description %>
	  	<%= link_to "x", admin_publication_platform_path(publication, platform),
	  									 data: {:confirm => 'Are you sure?'}, 
	  									 :method => :delete %></span>
	  <% end %><br>
		<strong>Locations</strong>:
	  <% for location in publication.locations %>
	    <span class="label label-danger"><%= location.description %>
	  	<%= link_to "x", admin_publication_location_path(publication, location),
	  									 data: {:confirm => 'Are you sure?'}, 
	  									 :method => :delete %></span>
	  <% end %><br>
	  <strong>Depth range</strong>:
	 	<%= publication.min_depth %>- <%= publication.max_depth %> m<br>
	 	<strong>Tags</strong>:
	 	<%= "original" if publication.original_data %>
	 	<%= "mesophotic" if publication.mesophotic %>
	 	<%= "new_species" if publication.new_species %>
  </td>
  <td width="60px" align="center">
    <% if user_signed_in? %>
      <% if publication.pdf.exists? %>
        <%= link_to image_tag("adobe_pdf.png"), publication.pdf.url(:original) %>
      <% end %>
    <% else %>
      <%= image_tag "adobe_pdf_disabled.png",:title => 'PDFs only available when logged in' %>
    <% end %>
    <br >
    <% if not publication.DOI.blank? %>
      <%= link_to "http://dx.doi.org/#{publication.DOI}" do %>
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
      <% end %>
    <% end %>
    <%= link_to 'Edit', edit_publication_path(publication) %><br>
  	<%= link_to 'Delete', publication, method: :delete,  
  				data: { confirm: 'Are you sure?' } %> 
  </td>
</tr>

<% if not params[:search].blank? %>
  <tr valign='top'>
    <td>
      <i>Word occurrence:</i><br>
      <h1><%= occurrence_count(publication.contents, params[:search]) %> x</h1>
    </td>
    <td>
      <blockquote><%= obtain_snippet(publication.contents, params[:search]) %></blockquote>
    </td>
  </tr>
<% end %>
