<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Site</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-7">
        <div class="form-group">
          <%= f.label :site_name %><br>
          <%= f.text_field :site_name, style: 'width:90%;' %>
        </div>
        <div class="form-group">
          <%= f.label :latitude %><br>
          <%= f.text_field :latitude, style: 'width:90%;' %>
        </div>
        <div class="form-group">
          <%= f.label :longitude %><br>
          <%= f.text_field :longitude, style: 'width:90%;' %>
        </div>
        <div class="form-group">
          <%= f.label :location %><br />
          <%= f.collection_select :location_id, 
                                  Location.find_each, 
                                  :id, :description, 
                                  class: "form-control" %>
        </div>
      </div>
      <div class="col-xs-5">
        <%= render_async world_map_path(key: "sites_form", model: Site, ids: site.id, height: 230, z: 10) %>
      </div>
    </div>
  </div>
</div>