<div class="panel panel-default">
  <div class="panel-body">
    <p>The following graphs summarize the metadata across the <code><%= @publications.length %></code> scientific articles in this database that are validated and present original data from mesophotic depths. See the <%= link_to "Data Tutorial", tutorial_pages_path %> on how to produce similar figures yourself in R.</p>

    <p>
      All publications up to:
      <%= link_to "2008", all_stats_path(2008) %>
      <%= link_to "2023", all_stats_path(2023) %>
    </p>
    <p>
      Validated publications up to:
      <%= link_to "2008", validated_stats_path(2008) %>
      <%= link_to "2023", validated_stats_path(2023) %>
    </p>
  </div>
</div>
