<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-preview">
<% end %>
<%= render partial: "layouts/page_title", locals: {
      title: @stats_subtitle,
      supertitle: @title,
      subtitle: raw("<span class=\"badge fw-normal float-end\" style=\"font-size: 0.65em; color: #c7254e; background-color: #f9f2f4;\">#{l @latest_update.to_date, format: :long}</span>"),
      breadcrumbs: [["Stats", nil]]
    } %>
<div class="row">
  <div class="col-sm-12">
    <%= render partial: "notes" %>
    <%= render partial: "growing" %>
    <%= render partial: "summarized" %>
    <%= render partial: "world" %>
    <%= render partial: "time" %>
  </div>
</div>
