<div class="card">
  <div class="card-header">
    <h4 class="card-title">Location</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-7">
        <div class="mb-3">
          <%= f.label :description %><br>
          <%= f.text_field :description, style: 'width:90%;' %>
        </div>
        <div class="mb-3">
          <%= f.label :latitude %><br>
          <%= f.text_field :latitude, style: 'width:90%;' %>
        </div>
        <div class="mb-3">
          <%= f.label :longitude %><br>
          <%= f.text_field :longitude, style: 'width:90%;' %>
        </div>
        <% if location.publications.count > 0 %>
          <p class="bg-danger">
            &nbsp;Note: <%= location.publications.count %>
            publications are linked to this location
          </p>
        <% end %>
      </div>
      <div class="col-5" style="min-height: 230px;">
        <%= turbo_frame_tag "world-map-locations_form", src: world_map_path(key: "locations_form", model: Location, ids: location.id, height: 230), loading: :lazy %>
      </div>
    </div>
  </div>
</div>