<%= render partial: "layouts/page_title",
       locals: {title: "Editing \"#{@location.description}\"",
          breadcrumbs: [["Locations", locations_path], [@location.description, nil]] } %>

<%= form_for(@location) do |f| %>
  <%= render partial: 'form', locals: {f: f, 
  									   location: @location} %>
  <div class="d-flex gap-2 mt-3">
    <%= f.submit "Save Location", class: "btn btn-primary" %>
    <%= link_to "Cancel", locations_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>