<%= render partial: "layouts/page_title",
       locals: {title: "Locations",
                breadcrumbs: [["Locations", nil]] } %>

<div class="row">
  <div class="col-sm-8">
    <div class="mb-3">
      <select data-tom-select="navigate" data-placeholder="Search for a location…" class="form-select" style="width: auto; display: inline-block;">
        <option value="">Search for a location…</option>
        <% @locations.each do |location| %>
          <option value="<%= summary_path(model: "locations", id: location.id) %>">
            <%= location.description %>
          </option>
        <% end %>
      </select>
    </div>

    <div class="card mb-0">
      <div class="card-body p-0" style="min-height: 380px;">
        <%= turbo_frame_tag "world-map-locations_index", src: world_map_path(key: "locations_index", model: Location, ids: @locations.map(&:id).join(','), height: 380), loading: :lazy %>
      </div>
    </div>
  </div>
  <% if @featured_location && @featured_photo %>
    <div class="col-sm-4">
      <%= render partial: 'featured_location' %>
    </div>
  <% end %>
</div>
