<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
		<i class="bi <%= icon %>"></i>&nbsp;
		<strong class="d-none d-lg-inline"><small><%= title %></small></strong>
	</a>
	<ul class="dropdown-menu">
	   <li><span class="dropdown-item-text">Publications by ...</span></li>
	   <li><%= link_to "Geographic location",
	   				   locations_path, class: "dropdown-item" %></li>
	   <li><%= link_to "Technology / platform",
	   				   summary_path(model: "platforms", id: 10), class: "dropdown-item" %></li>
	   <li><%= link_to "Research field",
	   				   summary_path(model: "fields", id: 10), class: "dropdown-item" %></li>
	   <li><%= link_to "Research focus",
	   				   summary_path(model: "focusgroups", id: 9), class: "dropdown-item" %></li>
	   <li><%= link_to "Species list", species_index_path, class: "dropdown-item" %></li>
	</ul>
</li>
