<%# Links accessible to everyone %>
<ul class="nav navbar-nav navbar-right">
    <%= render partial: 'layouts/link',
               locals: { path: root_path,
                         title: 'Home',
                         icon: 'bi-house-door-fill' } %>

    <%# render partial: 'layouts/link',
               locals: { path: root_path,
                         title: 'Info',
                         icon: 'bi-info-circle-fill' } %>

    <%= render partial: 'layouts/link',
               locals: { path: posts_pages_path,
                         title: 'News',
                         icon: 'bi-newspaper' } %>

    <%= render partial: 'layouts/link',
               locals: { path: members_pages_path,
                         title: 'People',
                         icon: 'bi-people-fill' } %>

    <%= render partial: 'layouts/link',
               locals: { path: publications_path,
                         title: 'Publications',
                         icon: 'bi-file-earmark-fill' } %>

    <%# render partial: 'layouts/link',
               locals: { path: locations_path,
                         title: 'Locations',
                         icon: 'bi-globe-asia-australia-fill' } %>

    <%= render partial: 'layouts/link_categories',
               locals: { title: 'Categories',
                         icon: 'bi-crosshair2' } %>

    <%= render partial: 'layouts/link',
               locals: { path: photos_path,
                         title: 'Images',
                         icon: 'bi-image' } %>

    <%= render partial: 'layouts/link',
               locals: { path: stats_path,
                         title: 'Stats',
                         icon: 'bi-bar-chart-fill' } %>

    <%# render partial: 'layouts/link',
               locals: { path: species_index_path,
                         title: 'Species',
                         icon: 'bi-tree-fill' } %>

    <%= render partial: 'layouts/link',
               locals: { path: about_pages_path,
                         title: 'About',
                         icon: 'bi-question-circle-fill' } %>

  <%# Links accessible to signed in users %>
  <% if !user_signed_in? %>
      <%= render partial: 'layouts/link',
                 locals: { path: new_user_session_path,
                           title: 'Sign in',
                           icon: 'bi-gear-fill' } %>

  <% else %>

      <%# Links accessible to admins %>
      <% if current_user.admin? %>
        <%= render partial: 'layouts/user_links',
                   locals: { user: 'admin',
                             title: 'Admin',
                             icon: 'bi-gear-fill' } %>

      <%# Links accessible to regular users %>
      <% else %>
        <%= render partial: 'layouts/user_links',
                   locals: { user: 'regular',
                             title: 'Profile',
                             icon: 'bi-gear-fill' } %>

      <% end%>

    </li>
  <% end %>
</ul>
