<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= @title || "Mesophotic" %></title>

  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'apple-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>

  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track" => "reload" %>

  <%= javascript_importmap_tags %>
  <%= javascript_include_tag "popper", "data-turbo-track" => "reload" %>
  <%= javascript_include_tag "bootstrap", "data-turbo-track" => "reload" %>
  <%= javascript_include_tag "dual_range", "data-turbo-track" => "reload" %>
  <%= javascript_include_tag "wordcloud2", "data-turbo-track" => "reload" %>
  <%= javascript_include_tag "charts", "data-turbo-track" => "reload" %>
  <%= javascript_include_tag "feed_tabs", "data-turbo-track" => "reload" %>
  <%= yield :head %>
  <%= javascript_include_tag "proj4" %>
  <%= javascript_include_tag "highcharts" %>
  <%= javascript_include_tag "highcharts-more" %>
  <%= javascript_include_tag "highcharts-exporting" %>
  <%= javascript_include_tag "highcharts-export-data" %>
  <%= javascript_include_tag "highcharts-map" %>
  <%= javascript_include_tag "highcharts-world-continents" %>
  <%= render 'layouts/google_analytics' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <%= render 'layouts/navigation' %>

    <div class="container">
      <div class="row">
        <div class="col-sm-6 offset-sm-3 text-center">
          <%= render 'layouts/messages' %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <%= yield %>
        </div>
      </div>
    </div>

  </div>

  <%= content_for :render_async %>
  <%= render 'layouts/footer' %>
	<%= debug(params) if Rails.env.development? %>
</body>
</html>
